[2015-04-28 10:32] imobach opened #1 "Support for selecting room"
At this time, user is always connected to the room '1234'. This feature is intended to let the user to choose a room to join.

[2015-04-28 10:34] imobach opened #2 "Avoid using $scope.$apply"
There are a lot of points when `$scope.$apply` is called. We must avoid them because it leads to some failures (trying to do an `$apply` during a running digest-cycle).

[2015-05-05 12:18] imobach commented on #1
Initial support for room selection was implemented by @ancorgs in d2a9f06. Closing this issue.

[2015-05-05 12:18] #1 closed

[2015-05-05 12:26] imobach commented on #2
After refactoring, all calls to `$scope.$apply` function were removed.

[2015-05-05 12:26] #2 closed

[2015-05-12 11:22] imobach opened #3 "Firefox crashing when closing a shared window"
If you close a window that you're sharing, Firefox just crashes. Confirmed with Firefox 37.0.2.

Thanks @bmwiedemann for reporting this issue.

[2015-05-13 13:02] bmwiedemann commented on #3
Since this is actually a Firefox bug and not a problem in jangouts, I filed it at https://bugzilla.mozilla.org/show_bug.cgi?id=1164428

[2015-05-20 15:17] mvidner opened #5 "Disallow <script>alert("Chat is vulnerable to XSS")</script>"

[2015-05-23 05:34] ancorgs opened #6 "Log and display events"
The chat window should also show events (like participants joining/leaving). Probably, some events should be, in addition, displayed using Toastr or a similar mechanism.

Architecturally, the feature is planned (using ActionService), but some more events (like muting) should be moved to ActionService as a first step.

[2015-05-23 05:36] ancorgs opened #7 "When the feed on top leaves the room, it stays on top"
Despite not being in the room anymore.

[2015-05-23 05:37] ancorgs opened #8 "Keyboard shortcuts"
For self (un)muting and similar actions. See https://support.google.com/hangouts/answer/2752487?hl=en

[2015-05-23 05:42] ancorgs opened #9 "Bookmarkable username and room"
It should be possible to create a bookmark for the current username and room selections, so entering the same room everyday (or several times per day) is more straightforward.

[2015-05-23 05:44] ancorgs opened #10 ""Next" button for turn-based meetings"
For turn-based meetings it would be useful to have a button which automatically mutes the only current speaker and un-mutes the next one in the list of feeds.

[2015-05-23 05:45] ancorgs opened #11 ""Mute everybody" button"
Self-explanatory

[2015-05-23 05:46] ancorgs opened #12 "Start muted if there are more than 3 participants"
Like it happens in Google Hangouts when you join a crowded session.

[2015-05-23 05:47] ancorgs opened #13 "Support for Trello/Bugzilla/Github in the chat"
Better embedded views for those tools. Some of then can require API keys, though, making it more difficult.

[2015-05-23 05:49] ancorgs opened #14 "Button to manually select the video bitrate"
It would be easy to base the implementation on this https://github.com/ancorgs/jangouts/commit/e228beead5c8578ed39c94fd12d5495d1c8dd4ae

[2015-05-23 05:50] ancorgs opened #15 "Allow name change"
Allow the users to change their name during the session

[2015-05-23 06:09] ancorgs opened #16 "Update installation instructions for openSUSE"
With new versions of the Janus package some extra steps are required.

[2015-05-23 07:29] ancorgs opened #17 "Main feed does not fit the space"
The main feed (the big video) does not always fit the whole space, sometimes it's smaller and almost never is centered.

[2015-05-23 07:32] ancorgs opened #18 "There is no logout button anymore"

[2015-05-23 07:38] ancorgs opened #19 "Interface for mobile devices"
The current UI is not much friendly for devices with a small screen. Moreover, the CPU of mobile devices do not cope very well with many videos being rendered at the same time. Thus, the mobile interface should reduce the number of live videos, maybe rendering only the active one.

[2015-05-23 19:42] #8 closed

[2015-05-24 14:44] #6 closed

[2015-05-27 09:36] mvidner opened #20 ""Ignoring" someone is too strong"
I see that to Ignore someone means turning off their
- video
- audio
- chat messages

That may be OK for an annoying person in a public chat, but our use case is cancelling echos when sitting in the same room. For that, you should definitely see the chat messages (with links to issue trackers) and possibly also the video (if the other party is sitting back to back with you).

[2015-05-27 09:38] ancorgs commented on #20
Canceling echoes without ignoring is already possible with right click on the participant thumbnail -> mute. That will mute that participant only locally.

[2015-05-29 09:24] aschnell opened #21 "list of people supposed to join a call"
Jangouts should support a list of people who are supposed to join a call/room, e.g. the YaST room, so that it's easy to see who is missing.

[2015-06-03 08:14] aschnell opened #22 "per user volume control"
Since some users are way to loud and others very quiet it should be possible to control the volume per user.

[2015-06-10 07:41] imobach commented on #5
The PR #23 should fix this issue. Thanks for reporting!

[2015-06-10 07:41] #5 closed

[2015-06-10 10:25] imobach opened #25 "When a shared window is closed, it stays as connected"

[2015-06-10 10:26] imobach commented on #3
I experienced this issue in the past too. But it seems to work with Firefox 38.0.1. Anyway, I've updated the [bug report](https://bugzilla.mozilla.org/show_bug.cgi?id=1164428) submitted by @bmwiedemann.

Anyway, when the window is closed, it stays as connected (#25).

[2015-06-10 10:48] ancorgs opened #26 "Alternative UI for lower CPU usage"
Right now, the limiting factor for big meetings is the CPU usage needed to render all the videos in the clients. Bandwidth and CPU power on the server seems to not be a big issue. We should create alternative user interfaces less CPU hungry.

A first approach could be to only render the main video, keeping the thumbnails as audio-only.

We could need to investigate which situations produce the hig

[2015-06-10 11:51] aschnell opened #27 "speak detection if muted"
When I'm muted (esp. if others muted me) and I start speaking Jangouts should detect that and inform me (e.g. with a bell).

Google Hangout does that.

[2015-06-10 12:38] bmwiedemann commented on #26
another option: only transmit/render a still image (e.g. I-frame) every few seconds for the small screens.
or allow to disable video for some participants.

btw: MPEG2 videos are encoded in a way that makes it easy+efficient to render 1/16 size versions of I-frames by just using the DC-values from the quantisation.

[2015-06-15 09:48] cwh42 opened #28 "Participants list takes too much space on small screens"
This is a full-screen window on my Laptop.
![jangouts](https://cloud.githubusercontent.com/assets/336868/8157413
/eb5775b2-1354-11e5-8d58-5fd12ba8ddf5.png)

[2015-06-15 11:10] ancorgs commented on #28
We are aware. It's a consequence of the half-made revamp of the UI. @cyntss will resume the work on the UI in a couple of weeks.

[2015-06-19 10:11] imobach commented on #3
Closing this issue as it seems that it works for 38.0.1 (and nightly builds).

[2015-06-19 10:11] #3 closed

[2015-06-22 16:10] ancorgs commented on #26
Partially implemented in https://github.com/jangouts/jangouts/commit/01cab15fded2c77bf37a6c97d2a788ad87954c71 which offers a button to reduce the number of rendered videos.

[2015-06-22 16:11] ancorgs commented on #16
Fixed by https://github.com/jangouts/jangouts/commit/e04494ce5f87d49b74d49b74b1a9c17f6b327c5b

[2015-06-22 16:11] #16 closed

[2015-07-04 05:45] ancorgs opened #30 "Use volume detection from janus.js instead of hark"
janus.js added volume detection recently (https://github.com/meetecho/janus-gateway/commit/66b4afafbc9ecc510f6c922148c8eb0c482f4528), it would make sense to rely on it instead of using hark. Less dependencies, more integrated solution.

[2015-07-04 05:46] ancorgs commented on #17
This was fixed by Cynthia long ago

[2015-07-04 05:46] #17 closed

[2015-07-17 05:47] imobach opened #34 "Allow to record a session"

[2015-07-17 10:14] ChrisBr commented on #9
@ancorgs @imobach Any rough idea how we could implement that? I'd simply go with URL parameters e.g. ```/:room/:user``` and then login the user into the room. Sounds that reasonable?

[2015-07-17 12:48] ancorgs commented on #28
This does not happen anymore with the new interface in master. Sure it has other problems since is not finished either, but at least this is fixed.

[2015-07-17 12:48] #28 closed

[2015-07-17 12:50] ancorgs commented on #26
An working solution is already in master. We will need a couple of days to stabilize all the recent changes, but the bug can be considered as addressed. So closing.

[2015-07-17 12:50] #26 closed

[2015-07-17 12:55] ancorgs commented on #9
@ChrisBr yes, that's the plan. I would start the implementation googling for "angular routes"

[2015-07-17 12:59] ancorgs commented on #27
With the new architecture in master (still in stabilization phase) this is easy to implement (I even have a prototype already).

[2015-07-18 05:58] ChrisBr commented on #9
@ancorgs Alright, will have a loot at it on the weekend

[2015-07-18 13:23] imobach commented on #9
@ChrisBr @ancorgs We're using [ui-router](https://github.com/angular-ui/ui-router) which is quite powerful.

[2015-08-17 06:44] ancorgs opened #39 "New UI according to mockups"
![img](https://raw.githubusercontent.com/ancorgs/csm-workshop/mockups/img/jangout-screen-2.jpg?token=ADeEETWJiZmXDoKrksMXNxfwPTOlZBwMks5V2r2HwA%3D%3D)

![img2](https://raw.githubusercontent.com/ancorgs/csm-workshop/mockups/img/jangout-screen-3.jpg?token=ADeEEVmSjWutAEjft2CKJHzypmFdAkPSks5V2r3dwA%3D%3D)

[2015-08-17 06:53] ancorgs opened #40 "New UI"
After implementing https://github.com/jangouts/jangouts/issues/39 I'd like to explore the posibility of making that interface more flexible with the possibility of arranging the elements (list of participants, chat, etc.) in a flexible way. Inspiration:
http://www.dockspawn.com/
http://docker.webcabin.org/

[2015-08-18 14:33] #9 closed

[2015-08-18 16:52] ancorgs commented on #27
This is 90% implemented in this commit (in a separate branch) https://github.com/jangouts/jangouts/commit/3bf2f0e2d1aa5c1cf99fa253094b577cf1f52d50

Any volunteer for the final tweaking? @ChrisBr @mdeniz

[2015-08-19 09:04] ancorgs commented on #40
This is even nicer and bootstrap friendly http://troolee.github.io/gridstack.js/

[2015-08-19 10:07] ancorgs commented on #40
Using gridstack (we should probably help with the angular directive[1]) and what we already have in the master branch. This interface should be doable. The two red circles are the screen sharing button and the "mode" one (the one that allows you to switch between full video for everybody and only for those that are speaking). That would be the initial screen (that would work better for the YaST te

[2015-08-19 10:44] ancorgs commented on #40
An angular-based alternative to gridstack found by Imo. It seems to have all the functionality we need https://github.com/ManifestWebDesign/angular-gridster

[2015-08-20 07:53] imobachgs opened #44 "Add a test suite"
Jangouts is getting bigger and bigger so, IMHO, we must build a test suite.

[2015-08-20 07:55] ancorgs commented on #40
I have it already done at 90% using angular-gridster. So re-targeting to milestone 0.4

[2015-08-20 17:01] ancorgs commented on #40
As said, https://github.com/jangouts/jangouts/pull/45 implements at least 80% of it. It needs a lot of css love, but the hard part is done.

[2015-08-20 17:01] ancorgs commented on #39
I consider that https://github.com/jangouts/jangouts/pull/45 obsoletes this. I like the new gridster-based UI more.

[2015-08-20 17:01] #39 closed

[2015-08-20 17:07] ancorgs commented on #19
The new interface (see https://github.com/jangouts/jangouts/issues/40) doesn't look that bad in mobile devices. So this is not a priority anymore.

[2015-08-20 17:08] ancorgs commented on #18
Fixed.

[2015-08-20 17:08] #18 closed

[2015-08-28 16:57] ChrisBr commented on #27
Will have a look at this on the weekend!

[2015-08-28 16:57] ChrisBr commented on #27
@ancorgs Do you want the suggested beel or sth different?

[2015-08-28 17:18] ancorgs commented on #27
@ChrisBr I don't care much. Any sound will make it. There is already one included in  3bf2f0e2d1aa5c1cf99fa253094b577cf1f52d50 but feel to change it. The only really missing things on that commit are some fine-tunning of toastr settings and some way to avoid flooding the user with the same notification. But everything is temporary, feel free to change the message, the sound...

[2015-08-29 14:07] ChrisBr commented on #7
@ancorgs with feed you mean a jangouts participant? I can't reproduce...

1. Joined room with two different tabs
2. Leaved the room with the first tab
3. Only the second tab is still in the room

Is that the correct way to reproduce it? @ancorgs can you check if this is still an issue?

[2015-08-29 14:09] ChrisBr commented on #27
@ancorgs Can you elaborate what you mean with your comment
``
// TODO: introduce some timeout or any other mechanism to avoid
// repeating the notification over and over for the same speech
``

It works quite well for me ...

[2015-08-29 16:07] ancorgs commented on #27
@ChrisbBr sure.while muted say something, then stay silent for just one second or even less, then speak again. Repeat several times and you will get a lot of bells and popups.now imagine they are keystrokes instead of words or that you muted because there is  somebody speaking next to you. Ring, ring, ring, ring...

Compare with hangouts in which you get just one notification unless you unmute and

[2015-08-30 11:59] ChrisBr opened #48 "Regression: Start hidden feature doesn't work"
Introduced by me in 0a22c8545421c276d7c12e75d07898009d607085

[2015-09-10 06:09] ancorgs commented on #40
With https://github.com/jangouts/jangouts/pull/50 I'd consider this good enough to be closed

[2015-09-10 06:16] ancorgs opened #51 "Deactivate local video channel when disabling video"
In the past, the buttons for muting or disabling local video really disabled the corresponding channels of the stream locally. Now the channels remain activated but are not sent to the other peers. That is great for audio because it allowed us to implement https://github.com/jangouts/jangouts/issues/27. But for video is not that great. The user can still manage to see their own video and may think

[2015-09-10 06:31] ancorgs opened #52 "Automatically resized feeds in list"
The thumbnails are currently fixed at 100px wide. The plan has always being to have them automatically adjusted between 126 and 80 pixels, based on the available space. With the current flex box, that should be very easy to implement using only css with the `min-width` and `max-width` properties. The problem is that those properties, that work as expected with figures containing images, doesn't se

[2015-09-10 07:06] ancorgs commented on #40
#50 merged, so closing.

[2015-09-10 07:06] #40 closed

[2015-09-10 12:24] ancorgs commented on #19
Don't ask me how or when, but we lose the responsiveness in the new UI at some point. I could try to guess with git bisect, but I'm not that worried about the mobile UI right now.

[2015-09-11 07:08] ancorgs opened #54 "Error when a peer disconnects"
The following error is logged to the console every time a remote feed disconnects.
[code]

[2015-09-11 07:12] ancorgs opened #55 "Unmute buttons in the muted notifications"
When somebody mutes the user, we display a toastr notification. We do the same you the user tries to speak but is muted. It would be cool to include a unmute button in those notifications.

Information linked from here could be useful: https://github.com/Foxandxss/angular-toastr/issues/3

[2015-09-11 15:34] #27 closed

[2015-09-15 15:55] #48 closed

[2015-09-16 16:25] ancorgs opened #57 "No handling of the back button"
When a user press the browser's back button while being on a room, he goes back to the login screen without actually quiting the room, so he can join twice.

[2015-09-16 16:26] ancorgs opened #58 "Speak detection not working after re-joining"
If the user logs out of the room and then joins again (also to a different room, I assume), speaking detection stops working.

[2015-09-16 16:29] ancorgs opened #59 "Warning about being muted raises too fast"
When you have just joined a room, the setup (sending the configure and so on) can take some seconds. If the user speaks during that period the "you are muted" notification is displayed. Once the setup finishes, the user is not muted anymore. Unexpected and confusing.

[2015-09-16 16:29] ancorgs opened #60 "Update the user placeholder image"
Geeko makes no sense anymore. There is no other (open)SUSE branding in the tool.

[2015-09-17 14:34] ancorgs commented on #60
I guess @cyntss is the only one with the skills to do something that doesn't suck :wink:

[2015-09-20 21:09] ancorgs commented on #30
The detection in janus.js only works for chromium, so it's not an option. Anyways, pull request #61 already removes hark, so goal achieved.

[2015-09-20 21:09] #30 closed

[2015-09-23 15:32] cyntss commented on #60
@ancorgs we were supposed to have a logo by now lol. I guess we can do something more "general" and use no logos whatsoever

[2015-09-24 21:00] ancorgs commented on #52
After some css with flexbox, I'd say a CSS solution is not possible. Not because the use of video tags, it's even impossible with images. Flex boxes only take into account the main axis when deciding the size of the elements, and we need to take both into account.

[2015-09-25 07:19] #7 closed

[2015-09-25 07:19] #54 closed

[2015-09-25 07:19] #58 closed

[2015-09-29 06:51] ancorgs commented on #59
Fixed by #61

[2015-09-29 06:51] #59 closed

[2015-10-06 16:18] #60 closed

[2015-10-16 08:23] nilxam opened #69 "Option to disable the notification"
Once you're muted but jangout supposed you are speaking then it will notice you by text and audio, we should have an option can disable it.

[2015-10-16 14:15] ancorgs opened #70 "Screen sharing broken in Chrom(e/ium)"
Looks like the recent changes broke screen sharing for chrom(e/ium)

[2015-10-16 14:21] aspiers commented on #70
OK, not just us then :) /cc @kbaikov

[2015-10-16 14:21] aspiers opened #71 "can't copy text from chat with mouse"
If I try to highlight text from the chat pane in order to copy and paste, it just drags the pane around.

[2015-10-16 14:42] ancorgs commented on #20
On the other hand, the ignore button has proven to be useful to reset the connection with a peer without quiting the room. If you are not getting audio, video or data from some concrete participant, you can ignore him and stop ignoring him immediately afterwards. That resets the three channels and has become the main use case for the ignore button. :wink:

[2015-11-10 09:42] aspiers opened #72 "FR: need push-to-talk mode"
Would be useful to be able to configure a keyboard shortcut for push-to-talk like with mumble.

[2015-11-10 09:43] kbaikov commented on #72
+1 to that

[2015-11-10 09:43] vuntz commented on #69
The "ding" sound is actually quite annoying after a while :-)

[2015-11-10 09:45] vuntz opened #73 "Can't unmute when I got muted by someone else"
We had a call yesterday, and somebody muted somebody else. That person was not able to speak anymore as there was no way to unmute him...

[2015-11-10 09:49] ancorgs commented on #69
The "ding" was carefully crafted to be annoying. :wink:

[2015-11-10 12:07] ancorgs commented on #73
That should for sure not happen. You cannot unmute others (that's on purpose) but you can always unmute yourself, no matter who muted you.

[2015-11-11 10:17] aspiers opened #74 "layout changes don't persist"
If I rearrange the position/size of the panes on the meeting page, the new layout gets lost when I reload the page.  This should be persisted either locally via cookies, or server-side per user account.

[2015-11-13 13:49] lnussel opened #75 "persistent link for channels"
would ne nice if channels had persistent links so one could invite other people

[2015-11-19 15:59] lnussel opened #76 "sqwiggle mode"
a sqwiggle mode would be cool :)

[2015-11-23 07:34] ancorgs commented on #75
Well, strictly speaking urls are persistent, but the current approach is only useful to bookmark the link, not to share it (since it contains user name). I'm working on a much better approach right now.

[2015-11-23 07:37] #52 closed

[2015-11-23 07:39] ancorgs opened #77 "Automatically resized thumbnails are sometimes too big"
The thumbnails of the participants are automatically resized to make sure they all fit in the roster area. But there is a bug somewhere and in some situations the resized thumbnails don't fit and a scroll bar appears (instead of using smaller thumbnails).

[2015-11-23 07:44] ancorgs commented on #71
We could add a dragging handler so only clicking on it (and not in any point of the frame) would trigger the dragging event. That's trivial from the implementation POV. We just need a good idea on how it should look like. Something like the titlebar of a window? Something that appears on mouse over? Some kind of collapsed tab?... Mockups are welcome.

[2015-11-23 07:46] ancorgs commented on #15
This will become more relevant when we finish some changes currently under implementation, that will lead to remembered (cookie based) user name.

[2015-11-24 09:51] jsuchome commented on #69
It's problematic especially when you are using different application (like mumble) for audio.

[2015-12-01 10:04] ancorgs commented on #70
It also look slower than it used to be in Firefox.

[2015-12-01 11:17] ancorgs commented on #75
This is mostly done. Expect a pull request today.

[2015-12-01 11:19] ancorgs commented on #57
The changes I'm implementing for https://github.com/jangouts/jangouts/issues/75 will also fix this.

[2015-12-01 12:01] ancorgs opened #78 "In long meetings, audio stream can get broken"
We use Jangouts for long meetings with a lot of people. Sometimes, the audio stream from user A to user B stops working. Video still works and other participants can still hear A. When that happens, there are A LOT of errors like this being thrown to the Janus log
[code]
As a workaround, we use the ignore functionality to restart the connection between A and B, so everything works fine again. But

[2015-12-04 11:07] #57 closed

[2015-12-04 11:07] #75 closed

[2015-12-07 12:11] jreidinger commented on #69
I would try to implement it ( no permission to assign to me )

[2015-12-07 12:19] aspiers commented on #76
What does that mean?

[2015-12-07 12:26] aspiers opened #80 "FR: allow disabling of webcam (i.e. voice-only mode)"
Currently the only way to disable the webcam in Chrome is to refuse Jangouts permission to access it, but this also refuses permission to the microphone, which is obviously useless.  I would like to be able to use Jangouts in voice-only mode, even if others are using their webcams.  This is supported by Google Hangouts.

[2015-12-07 12:29] ancorgs commented on #80
You have a button to disable your video if you mouse over your thumbnail. @aspiers is that not enough?

[2015-12-07 12:58] aspiers commented on #80
@ancorgs Thanks for the quick reply.  No not quite enough - it needs to be possible to disable before entering the session.  I'll give a extreme example just to demonstrate the point (which BTW is a silly example and of course purely hypothetical!!!): if I joined jangouts whilst wearing no clothes, it would be too late to click the thumbnail disable video button after joining ;-)

[2015-12-08 11:48] jreidinger opened #83 "Bell sound in proprietary mp3"
Some browser without free codecs do not play bell sound as it is in proprietary codec. It should be converted into ogg file.

[2015-12-08 12:29] #70 closed

[2015-12-08 12:52] #83 closed

[2015-12-08 13:06] ancorgs commented on #71
After discussing alternatives with @mdeniz, @ChrisBr and @cwh42, it was decided that the best approach would be having two modes (with a button to toggle), one with all the dragging and resizing blocked and another one to play around with the layout.

[2015-12-08 14:16] jreidinger commented on #69
fixed by #87

[2015-12-08 14:16] #69 closed

[2015-12-08 14:17] jreidinger commented on #55
fixed by #87

[2015-12-08 14:17] #55 closed

[2015-12-08 14:30] jreidinger commented on #80
in FF I can choose source of audio and video, so if I select video source no video, it works nice for me.

[2015-12-09 05:52] ancorgs commented on #78
https://groups.google.com/forum/#!topic/meetecho-janus/LxkKVv7wOus

[2015-12-09 07:30] ancorgs opened #91 "Deprecation warnings after dependencies update."
Since we did this https://github.com/jangouts/jangouts/commit/4a31292b2104d5490520eb8a0213d4c7f38f891b I'm observing some warnings in the javascript console.
[code]

[2015-12-09 07:48] ancorgs commented on #80
As, @jreidinger said, Firefox allows you to specify different permissions for camera and microphone. when connecting.

Chromium shows a dialog asking "allow camera and microphone?", so it merges both permissions in just one question, even if it actually recognizes both permissions as different things (if you click on the camera icon during your session or you go to "manage media settings" you'll s

[2015-12-09 09:44] ChrisBr commented on #71
@mdeniz self assigned to me because it's related to #74! JFYI

[2015-12-09 11:04] aspiers commented on #80
Even if Chromium doesn't handle it well, IMHO it should still be the app's responsibility to respect the user's privacy, rather than assuming it is always OK to use the webcam.  But yes, this is not top priority.

[2015-12-09 11:07] jreidinger commented on #80
Actually app for this case is browser, it should ensure your privacy is protected. BTW for your case does it work, to not give permission and later allow only sound?

[2015-12-09 11:25] aspiers commented on #80
IMHO the browser and Jangouts are both apps, and both should ensure protection.  Relying on a single level of protection is not reliable.  The browser should protect with regard to real security threats from attackers (eavesdropping, stolen identity etc.), and Jangouts should protect in order to ensure the user's privacy is respected even when there are no attackers.

If I don't give permission, w

[2015-12-09 11:43] imobach opened #93 "Notifications templates are not loaded when using dist/"
The code generated by `gulp build` won't load the [angular-extended-notification templates](https://bitbucket.org/lsystems/angular-extended-notifications).

[2015-12-09 12:49] #93 closed

[2015-12-09 13:00] jreidinger commented on #80
actually browser should also protect user privacy, consider that you want speak only service and browser ask you to give both permissions, so malicious code on that page can see you, what you are doing, it is not so nice.

[2015-12-09 13:37] aspiers commented on #80
I agree. Maybe a clearer way of starting my point is that 2 lines of defence are safer than one :-)

The other issue is that it will probably take a long time to fix Chromium, so we need a short term workaround.

[2015-12-09 14:01] jreidinger commented on #80
Workaround like not being naked when speaking with collegues? :smile:

[2015-12-09 15:52] #71 closed

[2015-12-10 08:53] ancorgs commented on #77
@mdeniz I have been reproducing this. It's very easy to reproduce for me with Firefox. I found that the actual problem is not the thumbnails being too big. It's the browser drawing a scrollbar when it's actually not needed.

I'm not sure if there is something we can do, other than being more conservative with the sizes of the thumbnails to prevent Firefox from miscalculating the scrollbar.

[2015-12-10 08:59] jreidinger commented on #51
fixed by #90

[2015-12-10 08:59] #51 closed

[2015-12-10 09:45] imobach opened #98 "Add a 'reset layout' button"
Now that the layout can be saved, we should offer the posibility to reset it to the default one.

[2015-12-10 09:53] ancorgs commented on #77
Hmmm, even being more conservative, Firefox does weird things with the scroll bar. I'd say it's time to take a look into some javascript library to fine-control the scrollbars, line nanoScroller or Tiny Scrollbar, so we have better control on it.

[2015-12-10 10:01] ancorgs commented on #74
Actually, this does not work always. The `gridster-resized` is only triggered once (you really cannot trust angular-gridster events), so in many situations the last layout is not properly saved.

I would prefer to save it when quitting the "resize mode", even displaying a notification about it having been saved (without bell, please :wink:).

[2015-12-10 10:23] ChrisBr commented on #74
@ancorgs okay!

[2015-12-10 11:41] #98 closed

[2015-12-10 11:50] ChrisBr commented on #74
Fixed with #99

[2015-12-10 11:50] #74 closed

[2015-12-10 14:58] #19 closed

[2015-12-10 15:30] #77 closed

[2015-12-17 17:30] awafaa opened #109 "npm install errors"
Not 100% sure if the following errors are fatal or not in the running of Jangouts, but when I try and run <code>npm install && bower install</code> following the README I get the following error from npm, the bower stage goes fine with no errors or warnings:

[jangoutserror.txt](https://github.com/jangouts/jangouts/files/65714/jangoutserror.txt)

Just to confirm I am building on Tumbleweed.

[2015-12-17 17:39] awafaa opened #110 "Unable to sign in"
When I browse to my instance I am unable to sign in , I have tried from Firefox on Linux and OSX as well as Chrome on OSX and Android. I only see an error when using Firefox which is:

<code>Janus error: error: [Exception... "<no message>"  nsresult: "0x805e0006 (<unknown>)"  location: "JS frame :: https://jangouts.wafaa.eu/scripts/vendor-f4c09c8a.js :: .send :: line 27"  data: no]
Do you want to

[2015-12-17 20:43] ancorgs commented on #110
That looks like a Janus crash. You should inspect the janus logs with
[code]
Or even better watching when the error happens using
[code]

[2015-12-18 06:48] ancorgs opened #111 "Configure without rebuilding"
We need another configuration method that doesn't imply running gulp and repackaging everything. Thus, we can provide for download already compiled versions that can be just be dropped in the apache server, without the node, bower and gulp hassle.

[2015-12-18 08:10] imobach commented on #111
For me the best approach is adding a `dist/`directory in the repository.

[2015-12-18 08:10] imobach commented on #111
BTW, we could also create an RPM with Apache/Nginx configuration included.

[2015-12-18 08:33] lnussel commented on #76
see https://www.sqwiggle.com/. We tested that in the team during a sprint for a while. It makes home office workers feel like sitting in the same office.

[2015-12-18 08:35] lnussel commented on #111
maybe consider putting the built version in a branch. diffs from autogenerated files just suck.

[2015-12-19 08:43] awafaa commented on #110
So nothing actually shows up in the janus logs when I access the server from either Chrome or Firefox :disappointed:

[code]
I'm building on Tumbleweed, but just realised that my server is running a rather crusty old 13.1. Would that be a contributing factor?

[2015-12-21 15:03] ancorgs commented on #110
So you are not reaching the janus server. I googled that "[Exception... "" nsresult: "0x805e0006" error and indeed it seems to be a (rather cryptic) jQuery error meaning that an ajax call failed to reach the resource.

Not sure if it will help in this particular case, but in order to better debug the javascript, it would be better to comment this line https://github.com/jangouts/jangouts/blob/mast

[2015-12-21 15:47] awafaa commented on #110
So I commented out line 46 and I now get:
[code]
Again only Firefox shows the error, Chrome shows no errors but does nothing.

[2015-12-22 15:53] awafaa commented on #110
Just retried with a fresh checkout using v0.4.1 and finally Chrome spits out an error:
[code]
Problem is the gateway is up, at least according to systemctl; and reloading does nothing other than spit the same error message back:
[code]

The same error is reported by Opera & Firefox.

[2015-12-22 23:18] imobach opened #114 "Jangouts won't work properly if installed in a 'subdirectory'"
When packaging Jangouts as an RPM, I found that it won't work properly in a subdirectory (for example, `http://localhost/jangouts`).

[2015-12-23 12:40] lnussel opened #117 "remove version from config.json"
config.json contains "version": "0.4.1". Looks like the wrong place to me as the admin is supposed to change that file :)

[2015-12-23 13:59] imobach commented on #117
Yes, sure it's just the wrong place. It was a temporary solution but it needs to be fixed :)

[2015-12-23 16:08] imobach commented on #117
This bug was closed by #120. Thanks!

[2015-12-23 16:08] #117 closed

[2015-12-23 16:12] imobach commented on #114
Fixed by #115.

[2015-12-23 16:12] #114 closed

[2015-12-23 16:16] imobach commented on #111
As suggested by @lnussel we're using another branch (called `releases`) and using the release mechanism provided by Github. We've released version 0.4.1 in that way so I'm closing this issue.

[2015-12-23 16:16] #111 closed

[2015-12-23 16:32] ancorgs commented on #73
@vuntz still having this issue? I'm cleaning the issue list and this looks like a nice candidate to be closed :wink:

[2015-12-23 16:35] ancorgs commented on #21
Following our recent policy of closing bugs that we will most likely never address... :wink:

[2015-12-23 16:35] #21 closed

[2015-12-23 16:35] #11 closed

[2015-12-23 16:37] ancorgs commented on #10
Unmuting other participants is kind of a security breach and it's against Jangouts general approach.

[2015-12-23 16:37] #10 closed

[2015-12-23 16:37] #14 closed

[2015-12-23 16:39] ancorgs commented on #20
I'm cleaning up the list of issues. As explained in the previous comment, browsers already allow "ignoring" the audio, so closing this.

[2015-12-23 16:39] #20 closed

[2015-12-24 11:38] ancorgs commented on #73
Anyway, I will close this for the sake of cleanup and feel free to reopen it.

[2015-12-24 11:38] #73 closed

[2015-12-24 11:44] #91 closed

[2016-01-04 09:39] vuntz commented on #73
We'll check next time we use jangouts :-)

[2016-01-05 09:21] okurz opened #123 "Make AGC configurable"
## observation
I don't know if this is site-specific. jangouts at SUSE has AGC enabled, i.e. the microphone level is adjusted automatically which is especially annoying when participating in a call with other persons in the same physical room also attending or speaking when being silent myself.

## suggestion
 - AGC should be off by default
 - It should be configurable by the user

[2016-01-22 15:14] imobach commented on #110
Hi @awafaa,

Version 0.4.1 is discouraged as contains a critical bug when reading the configuration. We've created an installation guide for [openSUSE/SLE](https://github.com/jangouts/jangouts/wiki/openSUSE-SLE). Maybe you'd like to give it a try.

Feel free to reopen this issue (or submit a new one) if it does not help.

Thanks!

[2016-01-22 15:14] #110 closed

[2016-02-02 13:48] saru95 commented on #34
can we use this for recording of webrtc streams ? http://lynckia.com/licode/

[2016-02-03 07:05] ancorgs commented on #34
We can already record the audio and video streams separately server side with janus. That's trivial. What we want is to reproduce a full meeting "like if you were there", with all the participants, the chat and all that.

We already considered Licode as a replacement for janus in the server part. But we discarded it. I don't remember the details of the decision, but I think it has to do with the f

[2016-03-01 14:24] toabctl opened #124 "Video not shared"
When using my camera (on jangouts.suse.de) , I can see myself but others can not see me and I can't see others.
In the js console, I get
[code]

[2016-03-01 16:17] ancorgs commented on #124
@toabctl Maybe using chrom(e/ium) and not accessing through https?

https://github.com/jangouts/jangouts/blob/master/src/app/components/browser-info/browser-info.html#L37

[2016-03-04 14:49] ancorgs commented on #124
@toabctl Still happening. Was related to https in the end?

[2016-03-04 15:12] toabctl commented on #124
I'm using Version 49.0.2623.75 (64-bit) with https .

[2016-03-04 15:27] toabctl commented on #124
For the record - there are client side javascript errors:
[code]

[2016-03-04 15:40] #12 closed

[2016-03-04 15:48] ancorgs commented on #124
Also for the record. Those errors are not preventing the connection. It worked with the same browser in a Jangouts instance hosted out of the VPN. So the root of evil is a network-related problem.

[2016-03-08 16:30] #124 closed

[2016-03-13 05:59] PaliwalSparsh commented on #15
@ancorgs I want to work on this bug please can you help on how to get started with it I have built jangouts successfully. jh-feed.html is where we can find the element. Please can you direct to what i need to read to work on this.

[2016-03-14 08:39] nlienard opened #130 "PIN code room"
Hi

I'm using Janus as gateway, and it works perfectly with Jangouts (and thanks for that).

Now; i got a test room configured with a PIN:

[12341]
description = pin test
pin = 12345
publishers = 6
bitrate = 128000
fir_freq = 10
record = false

When trying to go to this room through Jangouts; there is a popup with following message :

Missing element (pin)

Is there any way to implement the PIN co

[2016-03-15 14:26] ancorgs commented on #15
@PaliwalSparsh actually, `jh-feed.html`is where the name is displayed, but there is nothing you need to change there. It will be updated automagically if the name of the underlying feed is changed.

Every feed is represented by an instance of `FeedFactory`. What you need to do is:

- Provide a mechanism for users to update the attribute `display` of the main feed (which is the one representing the

[2016-03-15 14:39] ancorgs commented on #15
As an inspiration for such a function, just take a look to `updateLocalPic`, for example.

[2016-03-22 15:30] ancorgs commented on #109
I'm doing some cleanup of old issues.

As a side effect of GSoC, we have had some casual contributors. None of them have found problems setting up the development environment.

On the other hand, we have a "releases" section now, so you don't need to install npm or bower in order to use (or even configure) Jangouts.

Thus, closing this.

[2016-03-22 15:30] #109 closed

[2016-03-22 15:44] ancorgs commented on #34
Just to add some information about how challenging the option (1) can become, although it's the preferred one by @imobach and myself.

https://groups.google.com/forum/#!searchin/meetecho-janus/ancor/meetecho-janus/pB0EK0zVix0/bNDp-zun0rEJ  Beware this is an old conversation and things could have changed meanwhile in the Janus world (although I don't expect that).

[2016-03-22 17:25] sandr3j commented on #34
@ancorgs The information that data channels are not supported seems to be outdated. There is a [demo](https://janus.conf.meetecho.com/echotest.html) which demonstrates data channel processing.

[2016-03-22 19:40] ancorgs commented on #34
Of course data channels are supported. We use them extensively in Jangouts.
What is not supported is server-side recording of the data channels. Only
video and audio can be recorded and eventually played back.
El 22/03/2016 17:25, "Andrej Sabnew" <notifications@github.com> escribió:

[2016-03-23 08:49] ancorgs commented on #34
@sandr3j Actually it was me who contributed the data-channels support to the videoroom plugin by copy&paste&adapt from the echo-test plugin
https://github.com/meetecho/janus-gateway/pull/82

The fact that it's supported in videoroom and echo test plugins does not imply:
 a) that it's supported in the streaming plugin (which we will most likely use for playback)
 b) that is properly recorded server

[2016-03-23 08:57] ancorgs commented on #34
@sandr3j Never mind. I have just read the draft of your proposal and I see you have already considered all the implications, including contributions to janus and much more. Feel free to ignore my last comments :wink:

[2016-03-29 13:21] aspiers opened #131 "click anywhere in webcam thumbnail to pin webcam"
Currently each thumbnail has a small "Sticky as main video" icon, but this violates principles of good UI based on [Fitts's law](https://en.wikipedia.org/wiki/Fitts's_law).  Instead it would be better to ditch that icon and allow clicking anywhere on the thumbnail to have the same effect (with the obvious exception of clicking on the Ignore icon).

[2016-03-29 13:37] aspiers commented on #131
BTW IIRC this is how Google Hangouts does it.

[2016-03-29 13:45] aspiers opened #132 "sent text doesn't always clear in chat window"
After I send a chat message and hit `Enter` or click `Send`, whatever I typed always persisted in the `Type your message here` area.  After reloading the Jangouts window, this stopped happening.

[2016-04-06 05:45] ancorgs commented on #132
That happened because the data channel got broken, so the message cannot be sent. That's the expected behavior in such situation.

[2016-04-06 05:45] #132 closed

[2016-04-06 05:48] ancorgs commented on #72
@aspiers, @kbaikov I have deployed a preview of this feature (developed by @sandr3j) at https://jangouts.tk

Can you please give it a try and say if it fits your expectations.

[2016-04-06 09:03] aspiers commented on #132
Thanks, but in that case there are two issues:

1. After pressing `Send`, the message should not appear in the chat part of the window.  Currently it does, which makes it look like it got sent, and that's highly confusing.
2. If the message can't be sent, the UI should explain this rather than just mysteriously disabling sending.

So this really needs reopening.

[2016-04-06 09:06] aspiers commented on #72
Awesome, thanks! We just tested this and it works great for some hotkeys (and I quite like the UI design), but not for others. For example, I tried using `Super_R + U` and for some weird reason it got incorrectly recognised as `\`.  Then I could press `\` to successfully push-to-talk, but of course that conflicts with using `\` for other purposes.

The other thing is that it will need persist the

[2016-04-06 12:07] ancorgs commented on #72
I tried to reproduce, but for me `super` is always recorded as `meta`. @aspiers Which system/browser are you using?

[2016-04-06 12:12] ancorgs commented on #72
To be precise, my `Super_L` is recorded as `meta`. I don't have a `Super_R` key.

[2016-04-06 12:18] ancorgs commented on #72
Even after using xmodmap to remap my super key to `Super_R`, it is still being registered as `meta` by Jangouts.

[2016-04-06 12:25] ancorgs commented on #72
Seems to be a general issue with the library we use (mousetrap). https://github.com/ccampbell/mousetrap/issues/81

So I would happily declare `super` to be unsupported.

Or maybe this other mousetrap alternative handles it better https://github.com/PolicyStat/combokeys... or maybe not.

[2016-04-06 12:37] aspiers commented on #72
I'm using Chromium 49 on openSUSE 13.2.  A quick glance at https://github.com/ccampbell/mousetrap/issues/81 seems to suggest that they are using keycodes instead of keysyms to detect which key was pressed?!  If so, that's incredibly broken (because any keycode can be remapped to any keysym) and so you should avoid that library at all costs.  But maybe I'm missing something.

[2016-04-06 12:39] aspiers commented on #72
And BTW I can't think of any good reason why some modifiers should be supported on Linux but not others.  They're supposed to be handled in the same way, as you can see via the modifier bitmap in `xev`.  Maybe it's because this is a cross-platform library and they're focusing on Windows/Mac :-/

[2016-04-06 14:20] ancorgs commented on #72
Mousetrap is already used by AngularHotkeys, a component we are already using in other parts of Jangouts (which is not surprising, since Mousetrap is the most popular keystrokes library out there). Thus, it simply made sense to use it for the push-to-talk feature.

If we can find a (almost) drop-in replacement that doesn't interfere with Angular-Hotkeys, I'm fine with changing it now. But if it ta

[2016-04-06 23:09] aspiers commented on #72
@ancorgs Sounds like a good approach to me.  Thanks!

[2016-04-06 23:17] sandr3j commented on #72
@aspiers @ancorgs Thanks for your feedback. I checked today chromium and firefox on openSUSE 13.1 and could verify the problem. There are even some browser differences. I think we can at least exclude the problematic keys. I will investigate what kind of workaround might be the best. Of course there is no problem with adding the hotkey to persistent configuration. BTW why not just make the space k

[2016-04-07 07:22] ancorgs commented on #72
I would not activate push-to-talk by default. For me it's more an additional goodie than a core feature. Of course it has a usecase (that's why it was requested, after all), but I don't think it's an intuitive thing that most videoconferencing users would want/expect to be active.

In other news, the 1pixel increase in the header is back. :-)

[2016-04-12 21:48] #72 closed

[2016-04-18 10:49] ancorgs commented on #72
@aspiers @kbaikov FYI, jangouts 0.4.4 (push-to-talk without key combinations) deployed in the internal SUSE's jangouts.

[2016-04-18 10:54] ancorgs opened #134 "Replace mousetrap with something more robust"
Discussing the implementation of https://github.com/jangouts/jangouts/issues/72 we concluded that Mousetrap limits our options to implement key combinations.

We are currently using it indirectly in AngularHotkeys and directly in the push-to-talk feature.

Some ideas https://codegeekz.com/10-javascript-libraries-to-handle-keyboard-events/

[2016-04-21 22:00] aspiers commented on #72
Thanks!

[2016-05-05 06:45] ancorgs commented on #34
Maybe interesting for our purposes https://groups.google.com/d/msg/meetecho-janus/xuwhOHxYUxI/MNu7NNAfBgAJ

[2016-05-07 08:59] #131 closed

[2016-05-15 10:03] magarcia opened #139 "Update janus-gateway bower dependency"
From changes introduced in meetecho/janus-gateway#518 and keep the same behaviour, share screen should be changed to share window when call janus functions.

[2016-05-17 15:56] #25 closed

[2016-05-23 16:56] ancorgs opened #140 "Placeholders in the configuration URLs"
Some configuration parameters like "janusServer", "janusServerSSL" or "httpsUrl" are URLs. In many situations it would be useful to accept placeholders as part of those urls, specially the host name, so it's possible to specify something like these in servers replying to different hostnames.

[code]

The placeholders would be substituted by the corresponding part of the current URL the browser is

[2016-07-19 08:23] okurz opened #149 "chat does not display unicode characters (or umlauts)"
## observation

the chat window in jangouts does not display entered unicode characters, e.g. `…`.
## steps to reproduce

Try to type any non-ASCII character in a jangouts chat window, e.g. `üöäß…`
## problem

Character encoding not handled properly in jangouts.
## suggestion

It's 2016, use proper unicode everywhere.

[2016-08-31 12:31] ancorgs opened #153 "Community communication channel"
Jangouts development has worked so far in a impulse-driven way. We get contributions and contributors in every Hack Week, pre-GSoC, GSoC itself... But even if we have had contributions from more than 10 people in one way or another, I feel we still lack a community common vision.

There are several topics I would like to discuss with everybody interested in Jangouts. The days of @imobachgs and mys

[2016-08-31 13:04] jreidinger commented on #153
Any mailing list is fine for me. Even github issues is something I can live with, if it comes with some kind of road map, where we wanna go and what should be included and what not.

[2016-08-31 13:09] bmwiedemann commented on #153
We could also look at https://www.fossil-scm.org/xfer/doc/trunk/www/foss-cklist.wiki or http://spot.livejournal.com/308370.html for points we might be lacking for good open-source projects.

Overall, I would prefer a ML on a neutral domain (e.g. devel@jangouts.org) over a openSUSE one, to not give the impression, that it only works on openSUSE or should be driven mostly by openSUSE people.

[2016-08-31 13:27] aspiers commented on #153
+1 on avoiding opensuse.org, since I think this would deter some people outside the openSUSE community. I think Google Groups is a pretty good option - low maintenance, neutral, good for sane people who like mailing lists and also for totally crazy people who prefer web forums ;-)

Also +1 for keeping the github issue tracker. I like the precision that that can bring to even architectural / missio

[2016-08-31 14:14] uhelp commented on #153
+1 for avoiding opensuse.org and using jangouts.org

I  prefer jangouts.org instead feeding data trolls like google

[2016-08-31 15:17] ancorgs commented on #153
@uhelp What's your suggestion for the technical part of jangouts.org? Buying the domain is the easy part. But if you don't want to feed data trolls I guess you are suggesting to host our own mailing list software on our own server. Or do you have any alternative in mind that is as straightforward as Groups  from the setup/maintenance point of view?

[2016-08-31 15:30] lnussel commented on #153
Bullshit about opensuse.org. Show some pride! Would be a really
nice. Quite some projects are hosted by fedora or debian and noone
bothers. I'd avoid opensuse.org just for the antiquated mailinglist
software and archive there.

Google groups is nice to interface with non techies as it looks like
a web forum to them but is actually a mailinglist.

[2016-09-01 00:57] uhelp commented on #153
Yes, I'd prefer running all of it on a root server.
Some docker containers and things are easily moveable/upgradable
.
Jangouts should also run on different distris, so tutorials for other distris and setup howtos are needed as well. Some nginx container, a framework for CMS should do the trick.
And of course a demo site as well.

Hence pride may be the wrong term here.
Nothing prevents to credit

[2016-09-01 07:50] magarcia commented on #153
+1 to Google Groups, like @lnussel says is actually a mailing list, and a lot of project use it so non tech users and tech people that no contribute normally to open source projects are more accustomed to use it.
If we want to get more contribution to the project, IMHO this solution will be useful for a bigger range of people.

[2016-09-01 08:38] bmwiedemann commented on #153
Just in case someone needs it, there is now http://jangouts.org/cgi-bin/mailman/listinfo/devel available.
And then there was the question about the overlap with jitsi which is also opensource videophony and seems to be a rather active and mature project. Did anyone try it? Can we do things they cannot?

[2016-09-01 08:38] aspiers opened #154 "difference to Jitsi?"
On the surface, Jangouts and [Jitsi](https://jitsi.org/) appear to have very similar goals - to me, at least. It would be helpful if there was an explanation of the difference between the two in an easy to find location, e.g. in the README, or in a FAQ linked from the README.  Ideally this would answer:

- What are the current differences to the end user functionality?
- What are the differences i

[2016-09-01 08:42] aspiers commented on #154
In answer to @bmwiedemann's [comment in #153](https://github.com/jangouts/jangouts/issues/153#issuecomment-244013644), yes, I tried Jitsi and I was absolutely amazed how good it is.

[2016-09-01 08:52] ancorgs commented on #154
Of course we tried all the available self-hosted solutions we were aware of before writing Jangouts. Our fault was not writing a report about it... or maybe such report exist as comments to the hackweek project? I'll check.

The problem with Jitsi is that it didn't scale at all with the number of participants in our tests. We usually have meetings with around 15 people in the room. Jitsi performed

[2016-09-01 09:04] ancorgs commented on #154
No, we wrote no report. From the top of my memory we evaluated Jitsy, Talk.io, Telepresence, Palava, BigBlueButton, OpenMeetings, some demo client for Licode or Kurento (not sure which) and probably some more. None of them did fit our needs at that point in time.

[2016-09-01 09:04] cyntss commented on #153
I like the idea of using Google Groups. Mailing lists already take a big part of my day and I would not like to overload it. I never used Google Groups, but I saw it in some projects and the fact that it looks like a forum would make it easy to catch up when threads get very big, plus it's more organised from a UX point of view :)

Github issues are also a good option to me. So, either Google Grou

[2016-09-01 10:47] imobachgs commented on #153
@bmwiedemann Thanks for setting up a mailing list! I'm fine with using it (but I'm also not against Google Groups, although I'm not a big fan). I would use the ML for community communication and general discussion and Github issues for specific development code and bug reporting (they look like complementary to me).

My 2 cents.

PS: I agree that we urgently need some kind of vision/roadmap for th

[2016-09-01 10:50] imobachgs commented on #154
Jitsy looked like the most appealing options to me but, as @ancorgs said, we had severe performance problems. Maybe we should check it again in a near future. Volunteers? :)

[2016-09-01 10:54] imobachgs commented on #153
About the rest of the infrastructure, currently we have a demo server at https://jangouts.tk/. Unfortunately we're missing proper documentation.

Regarding the Docker instances I'll be happy to share them, for example, in Docker Hub. But we need some manpower to create, maintain and document them. I'm quite interested in Docker and I could try to do it but if we have some expert onboard... :)

[2016-09-01 15:08] aspiers commented on #154
I would have thought that fixing the scalability issues would have been easier than rewriting the whole thing from scratch, but maybe I'm missing something, e.g. does Jitsi have fundamental scalability limits with its architecture?

[2016-09-01 16:05] ancorgs commented on #154
Well, it was Hack Week, you know. :wink:

[2016-09-01 16:10] aspiers commented on #154
Hahah ;-)

[2016-09-07 09:43] mvidner opened #155 "Audio lags when system is busy with other tasks"
At the start of a call, video and audio are in sync, with no lag. Once I start opening other tabs to follow scrum cards or Bugzilla tickets being discussed, the browser gets busy. The audio will drop out for tiny moments, and then acquire a _multi second lag_. On the other hand, video does not lag. I must reload the call to fix it.

I use Firefox 48 (updated: 49). I tried using Chromium 52 but the

[2016-09-14 08:58] ancorgs commented on #153
Ok. So looks like everybody likes the combination of
 - Github issues to track feature requests
 - a non-openSUSE mailing list

The only point that is not crystal clear from the discussion is whether that list should be Google Groups or a self-hosted mailman.

For me, the self hosted solution is only an option if we have at least two volunteers that can sign with blood that they will administer th

[2016-09-14 09:07] ancorgs commented on #153
To speed up things, no need to wait for the volunteers to pop-up in order to start voting. So...

+1 to this comment (using the "add your reaction" button in Github) if you prefer Google Groups.

-1 to this comment if you prefer the self-hosted mailman (assuming we have volunteers to maintain the service).

[2016-09-14 14:34] ancorgs opened #156 "Polish the angular-2 branch"
As you can see in the result page of the recent Google Summer of Code done by @magarcia[1], the port to Angular 2 is almost done, but some things were left behind. Specially these can be considered "regressions" when compared with the current master branch:
- Speak detected icon don't works properly.
- Show if one participant is set as "sticky".
- Add embeded links, images, emojis into chat.
- Ree

[2016-09-16 11:05] ancorgs commented on #153
@bmwiedemann @aspiers @lnussel @cyntss Any vote? (see previous comments)

[2016-09-17 14:20] aspiers commented on #153
I don't mind either way, so I'm abstaining.

[2016-09-19 08:44] cyntss commented on #153
Vote given 👍

[2016-09-19 09:56] aschnell opened #157 "jangouts <-> phone gateway"
Since audio with firefox and chromium is so often broken a fallback method to connect via the good old robust phone should be possible.

[2016-09-19 11:36] ancorgs commented on #153
So we have a winner. I will create a Google group today or tomorrow. Thanks all.

[2016-09-19 11:36] #153 closed

[2016-09-19 15:30] ancorgs commented on #153
Done. Here is the group url https://groups.google.com/forum/#!forum/jangouts and here are the instructions to join https://support.google.com/groups/answer/1067205?hl=en

[2016-09-19 15:37] ancorgs commented on #153
I just realized the good & old mailing-list style way of joining is not described in that document.

Just send a mail to jangouts+subscribe@googlegroups.com

It simply works.

[2016-09-28 14:21] ancorgs commented on #78
The problem seems to be fixed by recent versions of janus. See https://github.com/meetecho/janus-gateway/issues/620

Anyways, it would be wise to change the "muting" of the video channel to simply disable the channel and avoid sending the configure. It seems to be more reliable and, in contrast with the audio channel, we have not reason to monitor the video locally.

[2016-09-29 10:28] ancorgs commented on #78
I'm not so sure anymore about managing audio and video in a different way. Looks like the video problems were caused by a typo in the janus source code (see https://github.com/meetecho/janus-gateway/commit/fa78e35d444342f970dbc7b1e4a59aaec9bc7ce9).

Thus, we can conclude the original bug is "fixed" (in janus side, but that's not relevant) and is probably not worth investing more time.

[2016-09-29 10:28] #78 closed

[2016-09-29 10:40] ancorgs commented on #44
In my opinion we should have separate issues for unit tests (should be covered by #156) and end-to-end (integration) tests. I would aim for decent unit test coverage for milestone 0.5.0... probably leaving e2e tests for the next version.

[2016-10-04 15:32] aaannz opened #158 "Possibility to silently join and monitor rooms"
When there is no video and audio input device, or sharing of them is denied in FF, Jangouts still allows participant to join.
His/her presence is however not displayed (not even joining message is present) to other participants, his/hers messages are not distributed to others and, obviously, no one can hear or see him/her.
This participant however can see, hear and read messages of other participa

[2016-11-08 14:46] thardeck commented on #22
This would also allow local mute for people in the same room like Mumble.

[2016-11-08 14:46] manno commented on #22
My colleagues keep asking for something like this. They're all sitting in the same room and can hear each other without the headset. Apparently it's confusing to hear the same voice twice, with a delay.

[2016-11-08 14:55] manno opened #159 "Low Video Quality"
The streams video quality is very low. Webcam streams as well as screen sharing suffer from compression artifact. To read text, the picture has to 'rest' for about 2 seconds, before the codec is able to sharpen the image. Maybe the bitrate of the video streams is too low?

[2016-11-08 15:11] manno opened #160 "Main Video Fullscreen Controls"
Currently one has to click on the video window and select "full screen" from the context menu of the HTML5 player.

For one the button is kind of hard to reach. However, for screen sharing it would be great to keep the participant videos around, i.e. by scaling the main video to the pages background and layering the portrait videos on top.

[2016-11-08 15:15] ancorgs commented on #159
The bitrate of the video is set separately for each room in the Janus configuration (server side). Setting it to a high limit should kill all artifacts.

[2016-11-08 15:19] manno opened #161 "Detection of disconnects"
Sometimes the application does not detect a disconnect. Neither the disconnected client, nor the other participants get notified.
The client keeps showing the old images. If people were not moving much, it's hard to understand they're offline and not very, very still.

Better handling of disconnects would be great, but it might be beneficial to add a 'network health' icon, like a traffic light, to

[2016-11-08 15:21] manno opened #162 "Focusing own video if speaking"
I find it very confusing to get focused while speaking, but maybe this is by design. I like that the main video follows the speaker, but I'd suggest excluding the viewers own stream.

[2016-11-08 15:29] ancorgs commented on #22
Firefox allows a trick to deal with people in the same room. If you right-click in the video thumbnail you will see a "mute" option that will only mute your particular stream of the speaker (that is, not muting the participant in the jangouts meaning of muting). That makes the trick. I'm considering to make that option more obvious and available in chrome as well. But we need to find the time and

[2016-11-22 10:27] bedi1982 commented on #158
Hello, I can confirm this bug as I just 'trigger' it.

[2016-11-29 10:38] mvidner commented on #155
I noticed that the "other tasks" always involved the Plasma desktop: desktop switching, panel applets. The problem was so annoying that I switched from KDE to LXQt and the problem went away.

[2016-11-29 10:38] #155 closed

[2016-12-26 13:37] ancorgs commented on #139
Working on this. Adding an extra button in the Firefox case so it can also share the whole screen.

[2016-12-27 12:36] ancorgs commented on #162
It's by design. We used to use Google Hangouts and we disliked the fact that your stream is treated in a different way than the others. We usually have turn-based meetings with quite some people. And in Google Hangouts the following things were kind of weird (to us).

1) While you speak, everybody sees you as the main feed... everybody but you, who still see the guy that spoke before you (who mayb

[2016-12-27 12:36] #162 closed

[2016-12-27 13:11] ancorgs commented on #161
That has never happened to us. I would need detailed instructions to reproduce it.

[2016-12-27 13:12] ancorgs commented on #159
Not a Jangouts issue, I would say. Looks like a configuration issue in the instance to me.

[2016-12-27 13:12] #159 closed

[2016-12-27 13:18] ancorgs commented on #158
First of all, take into account Jangouts is not designed to be super-secure. I mean, Jangouts is "just" a Janus client. Any Janus client (and it's trivial to implement or download one) can have access to the WebRTC traffic. Securizing the WebRTC traffic is out of Jangouts scope.

That been said. It's true there is a lot of room for improvements to raise the awareness about "lurkers". For example,

[2016-12-28 16:54] #139 closed

[2016-12-30 19:37] bmwiedemann commented on #162
IMHO, some global config options (stored in cookies) could help here. e.g. a "show myself in fullscreen while speaking" checkbox being default on

[2017-01-02 11:20] imobachgs commented on #156
I plan to start working on this issue. The first step will be to update to the latest Angular version and make it work for a basic use case.

[2017-01-02 13:13] ancorgs commented on #149
From a mere observation of the symptoms, it is obvious (at least to developer's eyes) that the problem is not about encoding (Unicode is already used everywhere). If that would be the case, you would be seeing "funny" characters like our beloved �. Instead of that, the code of an HTML entity[1] is displayed, meaning the problem is about escaping (sanitizing) too much the user input. A problem that

[2017-01-02 14:12] #149 closed

[2017-01-09 18:28] anweshknayak commented on #161
@manno @ancorgs anyone working on it ?

[2017-01-10 06:31] ancorgs commented on #161
As said in my previous comment, I cannot fix it since I have never observed it. I would need a more or less reliable way of reproducing it.

[2017-01-10 08:52] anweshknayak commented on #161
@ancorgs any other issue I can work on ?

[2017-01-11 09:21] aschnell opened #169 "mode to disable all video"
Add a mode to disable all video when bandwidth is low.

[2017-01-12 10:26] ancorgs commented on #22
@manno With Jangouts 0.4.5 it's even easier to mute your colleagues in the same physical room. Just click on their name and then in "don't play audio".

[2017-01-12 10:27] shundhammer commented on #22
An alternative would be to automatically normalize the audio volume: Reduce the loud ones and increase the soft ones to a common average level.

[2017-01-18 10:22] aschnell opened #170 "audio channel often disconnected"
Often the audio channel of some users is disconnected. Ignore and unignore is the workaround but with 10+ users that makes it impossible to follow the discussion.

[2017-01-25 17:05] ancorgs opened #171 ""Has left the room" message displayed twice"
When the user OneUser quits, the other participants see the message "OneUser has left the room" twice. That should not be the case.

[2017-01-25 17:13] ancorgs opened #172 "404 Not Found - vm.feed.getPicture()"
When jangouts load, it displays the following error in the javascript console

[code]

And sometimes the browser icon keeps spinning because it's actually trying to reach that location with no success.

Obviously, the URL does not exists and such http request should not happen.

[2017-01-25 17:19] ancorgs commented on #161
@anweshknayak Sure, just for you I have just created the "[junior job](https://github.com/jangouts/jangouts/issues?q=is%3Aissue+is%3Aopen+label%3A%22junior+job%22)" label. Enjoy

[2017-01-30 12:02] anweshknayak opened #173 "Gulp watch"
Implementing a gulp watch task to oversee any current changes in static files

[2017-01-30 19:54] markkp opened #174 "Can't see or send messages to other people in the same room"
In testing with Firefox 45.6.0 and 50.1.0, I'm not having any luck with jangouts.suse.de.  I can sign in, but I don't see my other signin session (with another name), so nothing typed into the message box is being shown to the other session.
I don't know if this has any bearing on the problem, but I'm doing my testing from KVM virtual machines, since my current laptop is not in the best of shape.

[2017-02-02 12:03] ancorgs commented on #174
I have never tried connecting from a KVM virtual machine. I will test if that's possible at all. In order to connect to Jangouts you need to have a microphone and, if possible, a camera. I guess you are sharing the host hardware devices (I have never tried).

[2017-02-02 22:17] markkp commented on #174
It appears that this is a duplicate of "Possibility to silently join and monitor rooms" #158. If I allow the sharing of the audio device, then all participants can see me, and what ever I type in the messages area. So while #158 is marked as an enhancement request, it appears to actually be a bug.

[2017-02-03 07:01] ancorgs commented on #174
Not exactly, as I see it.

You are hitting a real bug that is preventing you to get fully joined to a room and makes your connection one-direction (send but not receive), even if you want to get fully connected. This issue is here to debug that.

#158 is about enhancing the UI, so people that is in the room but only in one direction (listening but not sending or the other way around) is noticed by

[2017-02-05 19:27] anweshknayak commented on #171
@ancorgs It's working fine on firefox. ?

[2017-02-13 15:43] okurz commented on #170
we can confirm the same issue and it made our jangouts call nearly useless already some times. It looks like we did not have these up to some weeks ago so maybe a regression.

Some people can suddenly not hear individual other persons. Very hard to understand for them what is happening when they can not hear anyone speak.

[2017-02-15 09:42] imobachgs commented on #172
This issue should be fixed by #175.

[2017-02-20 16:44] #172 closed

[2017-02-20 16:51] ancorgs commented on #169
Right now, if you use the "picture mode" and disable you own video, only video been transmitted by the participant who is speaking in that particular moment would be received. Is not disable "all" video... but very close to it.

Still, keeping this open.

[2017-02-21 12:39] ancorgs commented on #158
As can be seen [in this conversation](https://groups.google.com/d/topic/meetecho-janus/LxYDHUAk_7E/discussion), this is not as easy as expected. It implies implementing some kind of authentication (at least enforcing that everybody that connects to a room to know a shared secret) or implementing a new mode in the videoroom Janus plugin.

None of the solutions are 100% satisfactory to our use-case.

[2017-03-03 13:34] saket424 commented on #170
@ancorgs , can you elaborate on what the Related_to_VPN label means? Is it picking the wrong candidate from the list of IPs or something?

[2017-03-05 10:24] nikhilrayaprolu opened #176 "error during installation of angular2 branch"
I am facing this issue on installing typings for the angular2  branch.
![image](https://cloud.githubusercontent.com/assets/15216503/23586492/d0e8a5a0-01bb-11e7-9f6b-6822a4d056db.png)

I am interested in contributing to jangouts as a part of GSOC 2017 .

[2017-03-05 10:27] nikhilrayaprolu commented on #176
I would also want to know if you are interested in using angular-cli for the angular2 branch . since angular-cli would have a good support and a standard way for installation.

[2017-03-05 13:43] mohsini172 commented on #140
Can I add this using gulp?

[2017-03-05 14:16] mohsini172 commented on #140
I have modified the gulp serve task and implemented this functionality. I need some guide if I can use the gulp. If yes how the parameter will be passed? Do I need to edit the other tasks for this?

[2017-03-06 08:49] imobachgs commented on #176
It looks like a SSL problem. Are you behind a firewall? Does the following command work for you (check the _Verify return code_)?

[code]

Anyway, I guess you could disable https and use http instead by just creating a `.typingsrc` including this configuration option:

[code]

Could you give it a try?

[2017-03-06 08:53] imobachgs commented on #140
@mohsini172 Sorry, but the idea is not to use gulp, but to replace those placeholders with information from the URL on runtime. For instance, given the example configuration in this issue, if you're connecting to Jangouts using an URL `https://myserver.com`, then `janusServer` value should be `ws://myserver.com/janus` and it will happen automatically.

Don't hesitate to ask if it's still not clear

[2017-03-06 09:19] mohsini172 commented on #140
I'm little confused what exactly issue is? Can you give a practical example to explain this. I mean what will be the initial configuration file will be look like and when run the server from which point in the code should I replace those values?

[2017-03-06 11:38] imobachgs commented on #140
@mohsini172 Sure! Given a configuration file with these values:

[code]

If you connect your browser to `http://myserver.com/`, then `janusServer` should be interpreted as `ws://myserver.com/janus`. Of course, you don't need to change the configuration file itself, but just to modify the configuration on runtime. The benefit is that you won't need to adjust the configuration file by hand to match

[2017-03-06 15:41] nikhilrayaprolu commented on #176
thank you @imobachgs . i am able to run jangouts now .
Can I know if there are any bugs that needed to be solved in the angular2 branch .(I couldn't distinguish which issues are related to angular2 branch.

[2017-03-06 15:43] nikhilrayaprolu commented on #176
secondly do you want GSOC aspirants to work on their project ideas for main branch or for angular-2 branch?

[2017-03-06 17:08] imobachgs commented on #176
`angular-2` branch is still a WIP and we would like to do some important changes before the GSoC starts. So you can focus in the `master` branch except if you plan to work on
https://github.com/openSUSE/mentoring/issues/77 which is intended to be implemented in the `angular-2` branch only.

[2017-03-06 17:09] imobachgs commented on #176
And about bugs to solve, all of them apply to the `master` branch: https://github.com/jangouts/jangouts/issues?q=is%3Aissue+is%3Aopen+label%3A%22junior+job%22

Thanks!

[2017-03-06 19:12] mohsini172 commented on #140
Perfectly understand. Just one more thing from which file can I start with. I mean in which file the configuration is reading.

[2017-03-09 18:24] imobachgs commented on #140
Closed by #177.

[2017-03-09 18:24] #140 closed

[2017-03-10 07:22] code-master5 opened #179 "Server not running on localhost due to 'Typeerror'"
@imobachgs @ancorgs
in src/app/index.js
[code]
The 'config' object may have non-string values. Therefore, if we pass such values to 'replacePlaceholder()' function, it will raise a "Typeerror" since 'value' is not a 'string', and, .replace() method works only for 'string' types.

[2017-03-11 08:13] code-master5 commented on #173
@ancorgs I'm working on this!

[2017-03-11 09:54] code-master5 commented on #171
@ancorgs @imobachgs As we can see in src/app/components/room/room.service.js
`           else if (event === "event") {
            // Any new feed to attach to?
            if ((msg.publishers instanceof Array) && msg.publishers.length > 0) {
              that.subscribeToFeeds(msg.publishers, that.room.id);
            // One of the publishers has gone away?
            } else if(msg.leaving !==

[2017-03-11 10:18] code-master5 commented on #130
@ancorgs I want to work on this. Can you please guide me a bit on this???

[2017-03-11 20:19] code-master5 commented on #15
@ancorgs @imobachgs I'm working on this.

[2017-03-13 11:43] #179 closed

[2017-03-14 17:29] code-master5 commented on #160
@ancorgs I am working on this.

[2017-03-16 09:28] okurz opened #184 "Other people can not see or hear me (allowed audio/video)"
## observation

This is similar to #158 but not intentional and sporadic. Even if audio/video devices are present and allowed to be shared it can happen sometimes that after joining a room other people can not see or hear one person. There is no indication whatsoever that the person is hearing or seeing other people also not for the person in question. In most cases a reload of the webpage (or "re

[2017-03-16 16:56] code-master5 commented on #184
@okurz Hey there! I also faced similar problems while I was trying to run Jangouts on my localhost for first few times. Infact I also discussed this with @ancorgs and @imobachgs . Finally I was able to figure out, thanks to them. May be my experience with this can help.
The problem was that in both firefox and chrome, I could not connect with any of the participants in the room. Then I figured out

[2017-03-17 12:13] ancorgs commented on #184
@okurz the problem mentioned by @code-master5 should not happen in our internal instance, since all traffic should be enforced to use SSL. But since "should" is the key word here, @code-master5's solution is worth a try. I updated the configuration setting `janusServer` to null. So please, go to https://jangouts.suse.de/config.json and reload to ensure you see `"janusServer": null` there.

Then, o

[2017-03-17 14:08] okurz commented on #184
thank you. I tried here, confirmed the configuration after forced reload but the system I was originally reporting about still shows up as invisible consistently. What we found out though is that from the main page showing the room list the room shows all attendees, including the invisible one. When joining the room the invisible one does not show up.

[2017-03-17 14:18] code-master5 commented on #184
@okurz That's exactly what happened in my case too. Also, the invisible member was not able to recieve any chat messages.

[2017-03-17 15:25] ancorgs commented on #184
As commented in other issue reports, mail threads and even Hack Week project, the invisible participants are just a symptom of another problem. And that problem can be anything preventing the three WebRTC channels to be connected. The root problem can be even completely different for two "stealth participants" in the same call.

We are cooking a GSoC idea to integrate Jangouts with https://www.cal

[2017-04-16 11:03] Leo-14 commented on #156
I am wondering if you guys are experienced this same issue while serving the angular-2 branch in  a chrome browser? the camera permission is reacting and the page is having an overlay pointing to reload the page as you can see in attached image. but every thing is working in firefoxe I am using chrome: Version 57.0.2987.110 (64-bit)

![chrome-behavior](https://cloud.githubusercontent.com/assets/26

[2017-04-16 13:14] code-master5 commented on #156
@Leo-14 The screenshot shows that you're trying to run Jangouts simultaneously on both chrome and firefox. In my system, once the camera is accessed by firefox, I cannot use it on chrome (or vice versa). Your's might be the similar case. Please check this out. This might help.

[2017-04-16 15:31] code-master5 opened #187 "Integrate latest Janus-gateway with the master branch"
I think doing this is important, mainly because:
    1. For adding Pin Code Room functionality. Janus-gateway added the required feature here (https://github.com/meetecho/janus-gateway/commit/cabe80ea35c76b36d3180b4f7063d60fa728548d). The PR #182 is waiting for this, to get merged.
    2. For integrating with callstats.io we need latest Janus-gateway (to accomodate new changes in Janus-gateway to

[2017-04-17 09:06] Leo-14 commented on #156
@code-master5 Thanks for your reply,
I think that the problem is the browser version because i am still having the same thing even though I am using chrome only.
this is what other people are saying
https://www.google.cm/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=chrome+57+not+allow+camera+to+be+shared

![screenshot_20170417_094900](https://cloud.githubusercontent.com/assets/26083138/25

[2017-04-17 12:37] code-master5 commented on #156
The version I'm using is `57.0.2987.133 (64-bit)`. Jangouts (angular-branch) is working fine. I can't understand what's going wrong with your browser.

But, after readings those red errors in your browser console, I guess the problem is not with your browser. Have you placed `config.json` inside `src` folder? Your browser doesn't seem to load this file. If you haven't, take hint from `src/config.j

[2017-04-17 13:59] Leo-14 commented on #156
okay thanks i will give a try.

[2017-04-20 10:42] kiview commented on #154
We've had the same performance problems with Jitsi btw.

[2017-04-24 08:13] okurz opened #189 "can not hear or see other people in the room but icons show up"
Similar to #184 and #174 and #158: I can see the icons of people in the room but can neither see them, nor hear them nor see their text messages. A "workaround" that worked for other issues (ignore/un-ignore) did not help here. One person out of 8 showed up and I was able to hear and see him. One other person then was suddenly audible and visible after about 10 minutes in the call.

[2017-04-26 10:13] hpanago opened #190 "Documentation"
I can't seem to be able to find a correct way to install Jangouts on Debian.
Is there any documentation you can point me to?

Also when tried to do it on opensuse (systemctl start janus.service) I got the error from systemd

"Apr 26 06:14:09 linux-qifh systemd[1]: janus.service: Main process exited, code=exited, status=1/FAILURE
Apr 26 06:14:09 linux-qifh systemd[1]: janus.service: Unit entered fa

[2017-04-26 12:31] imobachgs commented on #190
The error message is from the [Janus](https://janus.conf.meetecho.com/) server (not Jangouts at all). I guess you're using the official Debian packages and maybe there's some problem with your configuration. You could try to check `journalctl -u janus` to see what's happening.

When you have Janus running, we can help you to set up Jangouts if needed. OTOH, it would be great if you can write some

[2017-04-27 07:32] mishal opened #191 "Design customizations"
We are evaluating usage of jangouts for rtc communication, but we need to customize the ui graphics to match our designs. We found some ui glitches, which will be submitted as separate issues.

Which branch is the "main"? It seems that there is an activity in "angular-2" branch... There is also "new-look" branch.

Thanks

[2017-04-27 09:19] mishal commented on #191
This relates to https://github.com/openSUSE/mentoring/issues/80

[2017-04-27 11:27] hpanago commented on #190
This happened with the OpenSuse official package.
Debian does not have one.

In order to install jangouts on Debian it looks like that I have to install from source/github both the janus gateway and jangouts. If I can figure it out, I will let you know.

[2017-04-27 11:42] imobachgs commented on #190
@hpanago Janus is [already packaged](https://packages.debian.org/search?keywords=janus&searchon=names&suite=all&section=all) for Sid/Experimental.

About openSUSE, we have an [installation guide](https://github.com/jangouts/jangouts/wiki/Installation-guides) for openSUSE/SLE which worked the last time I tried. And also we have our [script](https://github.com/jangouts/jangouts/blob/master/provision

[2017-04-27 11:42] mishal commented on #190
You can use AG Projects Repo to install it on Debian Jessie...

https://janus.conf.meetecho.com/docs/resources.html

[2017-04-27 14:52] code-master5 commented on #191
@mishal Since latest commits are done on `master` branch, I guess it's the "main" branch. There are also some new features added to master branch which are not in `angular-2` branch.

Btw, what are the UI glitches you mentioned?

[2017-04-27 15:57] imobachgs commented on #191
Yes, for the time being, `master` is the right branch. The angular-2 branch is not completed yet.

[2017-04-27 16:49] mishal commented on #191
Thanks. I will use the master branch.

Ui glitches (in short):

 * UI "jumping" in firefox
 * autofocus on speaking person cannot be enabled again

I will prepare more detailed info.

I can help with the ui, but I not familiar yet with the codebase.

[2017-04-28 07:21] okurz commented on #189
potential workaround for VPN users: Use different VPN gateway and/or MTU size

[2017-04-29 08:03] ancorgs commented on #191
The jumping is caused by this component https://github.com/ManifestWebDesign/angular-gridster Maybe the fix is as easy as updating.

Clicking again in the "manually focused" participant re-enables autofocus. Is not working?

[2017-04-29 08:15] ancorgs commented on #190
Just make sure whatever package you use for whatever distro is compiled with support for data channels.

[2017-04-29 08:24] ancorgs commented on #190
Last but not least, looks like there are at least 3 containered versions of Jangouts out there:
https://github.com/Elhodred/docker-jangouts
https://github.com/kiview/jangouts-docker
https://github.com/lmangani/docker-jangouts

So deploying with docker should be easy

[2017-05-02 08:01] mishal commented on #191
* The gridster requirement is bower.json is defined as ~0.13.5. The latest version should be covered (tilde)...
* Clicking again manually focused is not very intuitive, I did not know that it works like this...

[2017-05-02 14:43] ancorgs commented on #189
@okurz Any concrete advise regarding MTU size?

[2017-05-03 05:15] okurz commented on #189
On Tuesday, 2 May 2017 07:43:43 CEST Ancor Gonzalez Sosa wrote:

no ideas. I just heard rumors but no definite values

[2017-05-03 06:48] okurz commented on #189
It seems to be related to the use of VPN. Yesterday in office it worked for me. Now from home over gate.suse.de no joy at all.

[2017-05-04 10:03] ancorgs commented on #189
Yes, all the connection problems with the internal SUSE instance are always related to VPN. Not sure if we (the Jangouts maintainers) can do much regarding that. We hope future integration with callstats.io will help the network admin to not break WebRTC traffic when adjusting VPN and other network stuff.

[2017-05-04 10:05] ancorgs commented on #189
That been said. Using the TCP VPN instead of the UDP-based one is helping us a lot this week. Please try as a temporary workaround. The results are usually different with every one of the 4 combinations UDP/TCP and PRG/NUE.

[2017-05-04 12:54] okurz commented on #189
It might be that the issue is triggered by an unstable network but IMHO jangouts should provide better user feedback. For example: If I am alone in the room (for testing) I can't see if that problem is there, right? Also, when it happens one realizes when he can't see/hear others but not really understand what the issue is. You can call it a feature request for UI improvement.

[2017-05-28 08:11] lazitskiy opened #192 "Vagrant instance. Error: Is the gateway down?"
Hi, dear jangouts team.

1. Vagrantfile.sample -> Vagrantfile
2. vagrant up

And get an error
http://take.ms/mOmyg
http://take.ms/EO1Mh
config.json http://take.ms/L5HWK

Add the 8088 port "config.vm.network "forwarded_port", guest: 8088, host: 8088" get nothing
[code]

[code]

[code]

Any ideas?
Regards, Vasiliy

[2017-06-06 22:07] ancorgs commented on #187
Fixed by #193

[2017-06-06 22:07] #187 closed

[2017-06-06 22:11] ancorgs commented on #171
Fixed by #181

[2017-06-06 22:11] #171 closed

[2017-06-06 22:12] ancorgs commented on #130
Fixed by #182

[2017-06-06 22:12] #130 closed

[2017-06-06 22:13] ancorgs commented on #15
Fixed by #183

[2017-06-06 22:13] #15 closed

[2017-06-15 07:05] ancorgs commented on #191
@mishal BTW, we are conducting a survey about a redesign of the Jangouts UI. It would be very appreciated if you take it. Don't forget to mention theming support at some point. https://goo.gl/forms/JJj6WCiYyhUpeURS2

[2017-07-15 22:14] imobachgs opened #197 "Update angular-2 branch code organization"
When it comes to code organization, we should aim to look more like a modern Angular project. Adopting angular-cli (or just getting some inspiration from it) is a step in the correct direction. Obviously, this issue only refers to the angular-2 branch.

[2017-07-15 22:29] imobachgs opened #198 "Adopt ngrx"
Two-ways data binding is no the Angular way anymore. Starting with Angular 2, a reactive approach is getting traction. Inspired on [Redux](http://redux.js.org/) and based on [RxJS](https://github.com/Reactive-Extensions/RxJS), [ngrx](https://github.com/ngrx/) seems to be a good approach to state management.

As the angular-2 is still not finished and we had found some troubles related to state man

[2017-07-15 22:31] imobachgs commented on #198
I am already working on it. As time permits, I will update this issue with additional information. Please, stay tuned!

[2017-07-15 22:32] #176 closed

[2017-07-15 22:34] #190 closed

[2017-07-15 22:44] imobachgs commented on #154
Maybe writing some documentation about how Jangouts compares to other solutions would be nice, but I do not expect to have any volunteer to write such a document for the time being.

[2017-07-15 22:46] imobachgs commented on #44
We already have a test suite in the angular-2 branch (only unit tests).

[2017-07-15 22:52] imobachgs commented on #173
@anweshknayak Thanks for your suggestion. Such a feature would be nice, but for the angular-2 version we are dropping gulp and I am not sure if anyone is willing to implement this for master.

So, I am sorry, but I will close this one. Please, feel free to open a PR ;)

[2017-07-15 22:52] #173 closed

[2017-07-28 08:10] okurz commented on #189
New symptoms: I connect, icons of people already in the room show up, can't hear or see them or their chat messages. I see and hear people joining after me (or reconnecting/rejoining while I am in the room). What worked though is that I stayed within that room with firefox and in parallel connected with chromium. Within chromium I could see and hear everyone fine.

[2017-10-06 15:08] cshar85 opened #214 "Room Swap"
I recently got jangouts/janus-gateway working and it is awesome with how smooth it is. Does it have the ability to hop to a different room after login and hold the username?

is there a place i can input an html5 dropdown and or jade using a hrefs to domainname.com/dist/#/rooms/####?user=RoomInvader

Whenever i tried to input it into the footer, it doesn't seem to hold, but i may just need to rebu

[2017-10-06 19:27] cshar85 commented on #214
Found a simple way to do this in development with extra code.
<form>
       <fieldset>
          <legend>Rooms</legend>
          <p>
             <label>Select list</label>
             <select name="menu" onchange="gotoPage(this)">
               <option value = "http://domainname/#/rooms/1236?user=OfficeInvader">ATL 1 Office</option>
               <option value = "http://domainname/#/rooms/123

[2017-10-10 10:05] imobachgs commented on #214
Hi @cshar85,

I guess you could create an Angular directive which shows all the rooms and allows you to select one. You could have a look at [jh-signin-form directive](https://github.com/jangouts/jangouts/blob/8f24fdc0bbf9e1cc37134a20e0cb1d0b880dd1b7/src/app/components/user/jh-signin-form.directive.js) to get some inspiration.

[2017-10-10 12:31] cshar85 commented on #214
Awesome thanks! Ill go down that route.

On Oct 10, 2017 6:05 AM, "Imobach González Sosa" <notifications@github.com>
wrote:

[2017-11-17 16:29] ancorgs commented on #154
I was talking to Jitsi developers recently. They have 12 people working full time in the project. That is 12 more people than Jangouts 😉.  And they told me they have invested quite some effort in the last couple of years to improve congestion control.

So maybe Jitsi is scalable enough nowadays and the main (only?) Jangouts advantage over Jitsi is gone.

[2017-11-18 06:54] imobachgs commented on #198
We have made quite some progress during [Hack Week 0x10](https://hackweek.suse.com/16/projects/re-architecting-jangouts-data-slash-events-model). There are a lot of rough edges but, for the time being, most of the componentes are already adapted. See [https://hackweek.suse.com/16/projects/re-architecting-jangouts-data-slash-events-model](ngrx branch) for more details.

[2017-12-06 10:34] jknphy opened #218 "Need to do workaround "block" and "allow" of camera and micro every time"
In Chromium I always have to go "always block" and "always allow" before any conversation or even after some other users reconnect.
In Firefox is not working at all, camera is not working and some people can hear me and others not.
I would like to focus on solution in Chromium.

[2017-12-11 17:02] dgdavid commented on #218
@jknphy, please don't do it :(

https://twitter.com/jyasskin/status/935376631681597441

[2017-12-12 06:20] jknphy commented on #218
I agree :) but in Firefox works in so random way that I am not sure how to provide more info. Is there any troubleshooting guide?

[2017-12-12 07:37] ancorgs commented on #218
@jknphy I guess you are talking about the SUSE internal instance. Do you connect to it through VPN? Could you do some tests in the external demo instance at https://jangouts.tk/callstats ?

[2017-12-12 08:07] jknphy commented on #218
@ancorgs  I am not using VPN, I just did some tests in this demo instance.

[2018-01-16 10:29] eldemerdash opened #219 "administring rooms is missing"
There is no admin for the video rooms and cannot destroy the room by any how of control? i see there is a variable to set beside "pin" which is "secret", is this enabled or not yet?

[2018-01-16 19:57] ancorgs commented on #219
Well, Jangouts is basically a client for [Janus Gateway](http://janus.conf.meetecho.com/). Administration of the rooms or any other configuration aspect of the Janus Gateway instance is, at this moment, out of the scope of Jangouts.

You can check the documentation available at the Janus webpage (it's a very well documented project). But to answer your concrete question, you need to adjust the `/e

[2018-01-16 19:59] ancorgs commented on #219
Closing the issue since, as mentioned, is out of our current scope. If you need more help, don't hesitate to visit the `#jangouts` channel on irc.freenode.net or [our Google Group](https://groups.google.com/d/forum/jangouts)

[2018-01-16 19:59] #219 closed

[2018-04-01 01:13] eroy4u commented on #154
So as of now is jangouts scalable? Like can it support 15 people doing video conference and beyond?
I'm also evaluating jangouts and jitsi and see which one is scalable.

[2018-04-12 15:32] imobachgs commented on #154
@eroy4u We use Jangouts with around 15 people everyday and with no problems at all. It would be nice if you could share your findings :)

Thanks!

[2018-04-14 08:12] sunnybear opened #220 "Jangouts not started"
dist/index.html gives only terracote screen (without elements, just black screen) and the following errors in console

app-20107677.js:7 [Deprecation] Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience. For more help, check https://xhr.spec.whatwg.org/.
(anonymous) @ app-20107677.js:7
(index):2 Uncaught SyntaxError: Unexpecte

[2018-04-18 09:38] OleksandrOrlov opened #221 "Jangouts looses connection to the gateway"
Jangouts crashes for all the participants in the meeting. It happens randomly, but seems more likely while using screen sharing.

Version 0.4.7

The following error message appears for all the participants:
![screenshot from 2018-04-13 10-36-59](https://user-images.githubusercontent.com/37581072/38924287-d9a07c58-42fc-11e8-8ca4-9a494e32c01a.png)

[2018-04-18 13:12] ancorgs commented on #221
Yes, we have noticed that lately in the internal SUSE server. I need to reclaim my access to it (the admins changed something and my SSH cookie is not accepted anymore) and then debug what's going on there.

In other words, the internal SUSE server is likely not actively maintained right now, hence the failures. Not sure when will I have time to debug it, though.

[2018-04-18 17:02] maximzon opened #222 "Disable audio and video in startup"
I've installed Janus on Ubuntu OS.
How can i disable audio and video on startup to decrease a bandwidth?
Most of the time in the audio there are indiscriminate sounds, how can it be fixed ?
Often the audio channel of some users is disconnected. Ignore and unignore is the workaround but with 10+ users that makes it impossible to follow the discussion.

[2018-05-02 07:45] okurz commented on #221
I could reproduce the issue by staying in one room on my own and having screen sharing enabled. After 13 minutes the same message appeared.

[2018-07-08 21:03] sunnybear opened #223 "No text chat"
Fresh install on CentOS 7 via building from source janus, configuration

libsrtp version:           1.5.x
SSL/crypto library:        OpenSSL
DTLS set-timeout:          not available
DataChannels support:      yes
Recordings post-processor: no
TURN REST API client:      yes
Doxygen documentation:     no
Transports:
    REST (HTTP/HTTPS):     yes
    WebSockets:            yes
    RabbitMQ:

[2018-10-09 12:13] krig opened #224 "Feature: Avoid switching video to user without camera"
This is a small feature idea that I intend to create a Pull Request for, but in order to remember it I am creating an issue (and if someone else decides to implement it or there is a reason not to add it, that kind of feedback would of course also be welcome).

When talking to a group where some people have web cameras and some don't, it's a bit annoying whenever Jangouts switches the video view t

[2019-06-25 05:13] imobachgs commented on #198
We are dropping the Angular 2 port and going for React/Redux. See the [project](https://github.com/jangouts/jangouts/projects/1) for more details.

[2019-06-25 05:13] #198 closed

[2019-06-25 05:13] imobachgs commented on #197
We are dropping the Angular 2 port and going for React/Redux. See the [project](https://github.com/jangouts/jangouts/projects/1) for more details.

[2019-06-25 05:13] #197 closed

[2019-06-25 05:14] imobachgs commented on #156
We are dropping the Angular 2 port and going for React/Redux. See the [project](https://github.com/jangouts/jangouts/projects/1) for more details.

[2019-06-25 05:14] #156 closed

[2019-06-25 05:19] imobachgs opened #226 "Extract Janus interaction logic to a JS module"
Extract Janus interaction logic from Angular services to a set of JS modules.

- [x] room service (WIP)
- [x] ConnectionConfig
- [x] FeedConnection
- [x] Feeds factory (imo)
- [x] FeedsService
- [x] DataChannel (Ancor)
- [x] Events
- [x] LogService
- [x] LogEntry (imo)
- [x] Action service
- [x] SpeakObserver (no tests)

[2019-06-25 05:29] imobachgs opened #227 "Create a branch for the React/Redux version"
Create a new branch, drop current code (keep docs, readme and so on) and use [create-react-app](https://github.com/facebook/create-react-app (or a similar alternative) to set up a React based application).

[2019-06-25 05:34] imobachgs opened #228 "Define a set of React components"
Define the set of React components that we will need to implement.

[2019-06-25 05:35] imobachgs opened #229 "Implement a component to sign in into a Janus room"
This issue needs #226 to be finished, although some work can be done in advance.

[2019-06-25 18:28] dgdavid commented on #227
Done (commits 305591f33315bbef00e5dbfd7c9549a45f931022 and 66959633b9191b086b4f88873fd05c9e09e1ee09)

[2019-06-25 18:28] #227 closed

[2019-06-27 05:48] imobachgs opened #236 "Set up Janus API"
We need to write some code to set up and wire up the Janus API with the Redux store.

[2019-06-27 05:49] imobachgs commented on #229
The LoginForm component is already able to get the list of rooms.

[2019-06-27 15:00] #226 closed

[2019-06-27 15:01] imobachgs opened #241 "Connect events service with Redux"
Implement a mechanism that allows receiving Janus events in the Redux side.

[2019-06-28 05:50] imobachgs commented on #241
https://github.com/jangouts/jangouts/pull/245

[2019-06-28 06:47] imobachgs commented on #228
The basic stuff is already in place. We will add new components as needed.

[2019-06-28 06:47] #228 closed

[2019-06-28 14:39] imobachgs opened #250 "Implement video initialization"
We need to detect when a stream has changed and refresh the video accordingly.

[2019-06-28 16:04] #250 closed

[2019-07-03 07:45] imobachgs opened #254 "Components tests not working"
Components tests are not working because of this error: `Invariant Violation: could not find react-redux context value; please ensure the component is wrapped in a <Provider>`. To reproduce the problem, just run `npm test`.

Once this problem is fixed, we should enable them in `.travis.yml`.

[2019-07-05 08:07] #241 closed

[2019-07-05 15:53] imobachgs opened #256 "Get the room to connect to from the URL"
See #259.

[2020-01-10 14:03] joudinet commented on #154
This discussion is more than a year old but I've just discovered Jangouts and I can't use Jitsi due to its requirement on Java on the server (my server is an embedded device with no JVM). So a big advantage for Jangouts over Jitsi is the light requirements with regards to server deployment. It only needs a Janus server (a C project) and a web server to serve static files.

[2020-02-07 07:40] #256 closed

[2020-02-08 09:47] imobachgs opened #262 "Improve room layout (including chat and participants list)"
Work in the Room, Chat and Participants components to display the information in a proper way.

[2020-02-08 09:48] imobachgs opened #263 "Add logout action"
Add a logout action which takes the user to the login screen again.

[2020-02-08 09:49] imobachgs opened #264 "Add a feature to stop sending video"
Add a button to disable the video and stop streaming it to the rest of participants.

[2020-02-08 09:50] imobachgs opened #265 "Add (un)mute action"
Implement (un)mute logic which includes:

* A button to mute another participant,
* Another button to mute and unmute user's audio.

[2020-02-08 09:51] imobachgs commented on #254
Fixed in #255.

[2020-02-08 09:51] #254 closed

[2020-02-08 09:53] imobachgs commented on #229
Already implemented (see #246 and #259).

[2020-02-08 09:53] #229 closed

[2020-02-10 12:00] imobachgs commented on #236
Already implemented.

[2020-02-10 12:00] #236 closed

[2020-02-11 07:07] imobachgs opened #271 "Participants flickering"
The Participant component refreshes too often, causing some flickering.

[2020-02-11 10:40] imobachgs commented on #265
Implemented in #270.

[2020-02-11 10:40] #265 closed

[2020-02-11 10:43] imobachgs opened #273 "Wrong statusUpdate when joining"
For some reason, the status information is not being propagated properly when a new feed joins.

[2020-02-11 12:35] pevik commented on #184
@imobachgs @dgdavid thank you for working on other issues recently.
FYI we stopped to use jangouts due functional problems like this one (and migrate to gotomeeting). It'd be nice to have this (and issues like #221) fixed.

[2020-02-11 12:54] dgdavid commented on #271
We are going to use [React.memo](https://reactjs.org/docs/react-api.html#reactmemo) to avoid this.

[2020-02-11 17:23] #271 closed

[2020-02-12 07:01] imobachgs commented on #273
Fixed by #278.

[2020-02-12 07:01] #273 closed

[2020-02-12 07:03] imobachgs opened #279 "Implement "speaking" detection"
Bring back the "blue icon" when a participant is speaking.

[2020-02-12 13:06] dgdavid commented on #263
A first approach of the logout action has been implemented in #280. However, we should bear in mind

* To reset the whole state.
* To use a more react-router-dom to _navigate_ after performing an action (?). See https://github.com/jangouts/jangouts/pull/280#discussion_r378235854

[2020-02-12 13:31] dgdavid opened #281 "Reset the store after logging out"
Initially, there are two options

* Using a root reducer, as explained at https://stackoverflow.com/a/35641992, or
* Using https://github.com/omnidan/redux-recycle (seen at https://redux.js.org/introduction/ecosystem#higher-order-reducers)

[2020-02-12 21:30] #281 closed

[2020-02-12 21:31] #263 closed

[2020-02-12 21:32] dgdavid commented on #263
See #282

[2020-02-13 07:10] imobachgs opened #285 "Implement share screen feature"

[2020-02-13 10:18] imobachgs commented on #279
Implemented in #283 and #284.

[2020-02-13 10:18] #279 closed

[2020-02-13 10:42] imobachgs commented on #264
Implemented in #286.

[2020-02-13 10:42] #264 closed

[2020-02-13 10:43] imobachgs opened #287 "Add a mechanism for configuration"
In the Angular based version there is a config.json file which contains jangouts configuration. We should provide the same mechanism or, at least, something easy to migrate to.

[2020-02-13 15:11] imobachgs opened #291 "Add (un)ignore feature"
It might be redesigned as a "reload" button instead.

[2020-02-13 16:06] dgdavid opened #293 "Add (un)stick participant"

[2020-02-13 16:07] #293 closed

[2020-02-13 16:40] #285 closed

[2020-02-14 01:30] dgdavid commented on #262
At some point back in the time, we concluded that it would be better to have a handful of prefixed (good) layouts instead the current one based on gridster.js

To achieve that, I think that Flexbox and/or CSS Grid are our allies, but I don't master them (yet :stuck_out_tongue_winking_eye:). That's why during this [Hack Week 19](https://hackweek.suse.com/19/projects/) I invested some time playing w

[2020-02-14 08:58] imobachgs opened #298 "[React][Firefox] After logging out, the user is still connected"
When the user logs out, it is still connected (although it is redirected to the login page). It only happens when using Firefox (72.0.2 in my case).

[2020-02-14 10:51] imobachgs commented on #298
It looks like updating the `janus.js` library to the `0.8.2` version fixes the issue. However, I would like to do some additional testing before making this change permanent.

[2020-02-14 12:21] imobachgs commented on #298
Fixed by #299.

[2020-02-14 12:21] #298 closed

[2020-02-14 14:41] #291 closed

[2020-02-16 20:55] imobachgs opened #303 "Screen sharing does not work in Firefox"
Screen sharing does not seem to work in Firefox. From the person who shares the screen, everything looks fine. But the rest will not see the corresponding video.

[2020-02-17 20:57] imobachgs commented on #220
Could it be that the `config.json` contains invalid data? Is this still an issue? (sorry for taking so much time to answer).

[2020-03-18 16:20] imobachgs opened #304 "Basic chat rendering"
Add support for basic things like:

- rendering images
- rendering URLs
- support for markdown-like style language
- support mentions (using `@`)

[2020-03-18 23:22] dgdavid opened #305 ""You are muted" notification when trying to speak (including the timeout)."

[2020-03-18 23:25] dgdavid commented on #305
As an idea or source of inspiration, we could use https://github.com/wle8300/uifx to play the audio  similarly as it's described at https://alligator.io/react/adding-sound-to-your-react-apps/

[2020-03-18 23:50] dgdavid commented on #305
And for the notification, possible candidates are (among others, of course)

* https://github.com/Cogoport/cogo-toast
* https://github.com/alexpermyakov/simple-react-notifications
* https://github.com/LouisBarranqueiro/reapop

[2020-03-19 00:06] dgdavid commented on #304
https://github.com/react-ninja/react-text-format could be and allied for this, but I'd prefer to avoid _lodash_ and similar dependencies when possible.

[2020-03-19 00:11] dgdavid commented on #304
To support Markdown, maybe something like https://github.com/this-fifo/use-marked-hook

[2020-03-22 20:06] dgdavid opened #307 "Add a toggle picture/video mode feature"
To considered such feature complete, it must

- [ ] Allow to (un)subscribe from remote feeds video _(see #308)_
- [ ] To capture and emit the feed picture
- [ ] To show the feed picture when not subscribed to video _(partially done in #308, no picture available yet)_

[2020-03-24 13:43] alkostation opened #310 "Users without video don't show in users area"
Hello!
When user without web camera is logging, that user is not showed in users area.
This cane be addressed as security problem also, because the user can  lurking the conversation.
Thanks!

[2020-03-24 14:03] imobachgs opened #311 "Write a document describing how to test/devel the react-based version"
There is no documentation about how to test or contribute to the react-based version. We should, at least, write a document explaining how to set it up and use it for testing/development.

[2020-03-24 21:31] imobachgs opened #313 "Rename the React based version branch"
The name of the React based version sucks (sorry). We would like to rename it from `rewrite-using-react-redux` to just `react`.

[2020-03-25 07:38] #311 closed

[2020-03-25 07:39] #287 closed

[2020-03-25 07:39] imobachgs opened #314 "Bring back pin-based authentication"
Implement the pin-based authentication mechanism.

[2020-03-27 14:38] imobachgs commented on #314
Implemented in #315

[2020-03-27 14:38] #314 closed

[2020-03-27 15:25] dgdavid commented on #304
Another option could be https://github.com/milesj/interweave. Dependencies-free.

[2020-03-28 17:16] ancorgs commented on #304
Interweave looks perfect for our purposes. See #317.

[2020-04-03 15:40] ancorgs commented on #304
After merging #318 it will be possible to write bold, italics or strikeout text just using HTML marks. But I guess we also want to offer more convenient alternatives to achieve that basic formatting in the new Jangouts chat. My question is, what should we aim for?

1) When using plain text, I would say the traditional convention from the early days of Internet is using asterisks for bold text `I w

[2020-04-03 17:14] dgdavid commented on #304
As said in IRC, for the chat I prefer the first option.

[2020-04-15 11:27] imobachgs opened #321 "Documented openssl command does not work"
The documented `openssl` command does not work. Actually, we should use something like this:

[code]

[2020-04-20 07:56] Wurzelmann opened #322 "Chat not auto-scrolling when new messages appear"
I tried various branches of jangouts and noticed the chat is not auto-scrolling when new messages appear, except in the master branche.

Branches I tried, where this did not work:

- react/tailwindcss
- rewrite-using-react-redux

[2020-04-20 13:26] ancorgs commented on #322
That's addressed at #318 (still not merged because I haven't found the time to implement the unit tests)

[2020-04-20 13:26] ancorgs commented on #322
BTW, since you are checking branches... interested in contributing somehow? :wink:

[2020-04-20 13:33] Wurzelmann commented on #322
Thanks for the heads-up! I'm checking branches, because I'm experimenting with different frontends for Janus right now. If I can contribute somewhere, I will! :-)

[2020-04-21 10:10] dgdavid commented on #322
Just for the record

As you probably know, those branches still under development. It's being slower than we wish but ASAP I'll update the `rewrite-using-react-redux` with quite a lot changes on top of `react/tailwindcss` which, IMHO, improves the current status of the UI for the react rewrite.

So, stay tuned :)

Thanks a lot for give it a try.

[2020-04-21 10:33] Wurzelmann commented on #322
Nice, thanks! I made a Frankenstein merge today between `rewrite-using-react-redux`, `react/tailwindcss` and `interweave scroll` just for testing and it worked great in a quick and dirty build and most important of all: the scroll auto-chat works fine. :-)

[2020-04-28 13:35] ancorgs commented on #304
Closed via #318

[2020-04-28 13:35] #304 closed

[2020-04-28 15:55] imobachgs opened #324 "Shared screens are not detected properly"
While testing changes in #323, we detected that the shared screens were hidden.

* If you join a room where there is already a shared screen, you get the `video: true` property and it works just fine (you can see the shared screen).
* However, if the screen is shared after you have joined, you are not able to see the screen (the `video: true` is never set).

The problem was already there, but #323

[2020-04-28 16:17] dgdavid commented on #313
Guys, now that we have merged #304, #319, and #323 seems to be a good moment for renaming the branch.

So, if you don't mind, please go ahead.

[2020-04-28 20:24] ancorgs opened #325 "Disconnection of feeds is not properly logged"
When someone quits the room this code is executed, but the feed is always null (likely because it was already destroyed/unregistered by some other piece). https://github.com/jangouts/jangouts/blob/rewrite-using-react-redux/src/janus-api/action-service.js#L61

As a consequence, the event is not logged.

[2020-04-29 07:37] ancorgs commented on #221
These janus-gateway stability problems (not really a Jangouts issue) should be gone by now (since a long time ago, to be honest).

[2020-04-29 07:37] #221 closed

[2020-04-29 07:38] ancorgs commented on #223
Sorry. We overlooked this. It's so old now that I don't know if it's still relevant. Please feel free to reopen if that's the case.

[2020-04-29 07:38] #223 closed

[2020-04-29 07:40] ancorgs commented on #220
Sorry for overlooking this initially. The issue is so old that I doubt it is still relevant. I'm closing it, but feel free to reopen if it still can be reproduced with recent versions.

[2020-04-29 07:40] #220 closed

[2020-04-29 09:51] imobachgs commented on #313
It is now called [react-redux](https://github.com/jangouts/jangouts/tree/react-redux).

[2020-04-29 09:51] #313 closed

[2020-04-29 18:22] dgdavid commented on #322
@Wurzelmann, friendly ping :)

Finally, yesterday we were able to go a step ahead[1] with the [`react-redux`](https://github.com/jangouts/jangouts/tree/react-redux) branch (yes, finally we renamed it :tada: ). Now, it's in better shape. So, if you still experimenting with Janus frontends, do you mind testing it again and provide your feedback?

Thanks!

---

[1] See https://github.com/jangouts/jan

[2020-04-30 05:00] Wurzelmann commented on #322
Thanks for the heads-up, building and testing right now!

[2020-04-30 05:14] Wurzelmann commented on #322
Feedback: interface looks very slick, I love the "hide chat" option, especially on mobile devices.

Bug: chat auto-scroll works as intended, but only until one hides the chat and opens it again. Then it is stuck at the top again and does not auto-scroll again.

[2020-04-30 05:24] Wurzelmann commented on #322
slight correction: auto-scroll works again when I manually scroll to the latest message

[2020-04-30 07:29] ancorgs commented on #322
Yes. That's intentional. Auto-scroll only takes place when a new message arrives if you are already at the bottom of the chat. Otherwise it would be annoying when you have scrolled-up to read some older message.

The problem here is that "show chat" is not scrolling automatically to the bottom and/or restoring the viewpoint that was displayed when the chat was hidden.

Good catch!

[2020-04-30 07:31] Wurzelmann commented on #322
What about a button next to the chat which jumps to the latest message? This way, it is optional but would restore auto-scroll with a single click.

[2020-04-30 08:56] dgdavid commented on #322
Thanks a lot, @Wurzelmann!

[2020-04-30 09:13] Wurzelmann commented on #322
Happy to help, my pleasure! I tried looking at the react code myself but did not know where to begin frankly, so at the moment, I guess this is all I can do.

Another feature request: would it be possible to add the current participants' count at the login like in the "classic" jangouts?

[2020-04-30 09:31] ancorgs opened #329 "Finish adaptation of login page"
Some things to do as part of this:

- ~~Bring back current participants' count for each room~~.
- ~~Removing notes about browser compatibility (we never update it)~~.
- ~~Rework slogan (the current one was just a proposal)~~.
- Bring back info about screen-sharing. -> Probably not needed anymore, at least not here.

[2020-04-30 09:32] ancorgs commented on #322
Ok. Added that point about the participants count to #329

[2020-04-30 09:36] Wurzelmann commented on #322
Great, thank you.

[2020-04-30 09:46] dgdavid commented on #329
This is the point where we should discuss about the logo, which was picked from

https://github.com/jangouts/jangouts/blob/new_look/src/images/jangouts-logo.png

As you can see,

* It's not an scalable (SVG) file, which actually isn't a problem, but it'd great to have such version.
* It includes the mentioned slogan.

[2020-04-30 10:35] Wurzelmann commented on #322
I've got a few more bugs for this branche, should I just put them in here or open separate issues for them?

[2020-04-30 10:51] dgdavid commented on #322
I'd prefer a new issue for each bug you found.

[2020-04-30 10:54] Wurzelmann commented on #322
Okay, closing this one and opening up new ones, thank you.

[2020-04-30 10:54] #322 closed

[2020-04-30 10:57] Wurzelmann opened #330 "[bug] [branch: react-redux] links in chat open in same tab"
When opening links from the chat, by default they get opened in the same tab thus disconnecting yourself from the room.

[2020-04-30 11:06] Wurzelmann opened #331 "[bug] [branch: react-redux] no new chat notifications"
Regardless if the chat is hidden or shown, there are no notifications about new messages (like the number of new messages next to the chat icon or small indicator like a coloured circle or something similar), which were part of the "classic" jangouts interface, if I'm not mistaken.

[2020-04-30 11:09] Wurzelmann opened #332 "[feature request] [branch: react-redux] entering chat message should jump to end of chat"
Current behaviour when unhiding chat and entering message: no jump to newest message, no auto-scrolling

Expected behaviour when unhiding chat and entering message: jump to last message and re-activate auto-scrolling again

[2020-05-01 20:25] ancorgs commented on #325
I was trying to debug this and, indeed, when someone leaves the room two events are generated:

- An `unpublished` one. That's the one that destroys the feed object.
- A `leaving` one, that fails to do its job because the feed is already destroyed.

So I fear this bug affects the master branch as well.

[2020-05-08 14:58] ancorgs commented on #330
Actually I implemented it like that intentionally, since I find web pages that open links in a new window to be very annoying. But after discussing it with @imobachgs and @dgdavid, I agree to change the current behavior to always use a new window, as implemented at #334.

[2020-05-08 15:00] ancorgs commented on #330
Closed via #334

[2020-05-08 15:00] #330 closed

[2020-05-14 20:16] saket424 commented on #324
I can replicate this issue. Any recommendations for fixing this important screen share issue ?

[2020-05-22 13:55] ancorgs commented on #310
With "user without camera" you actually mean "user who has not authorized the usage of his camera or microphone". Isn't it? I mean, is not related to the fact of the user having a camera or not.

[2020-05-23 06:47] ancorgs opened #336 "Browser's autoplay blocking prevents playing video/audio of participants that were already in the room"
Sometimes you join a room in which there were already some participants, you don't get any audio/video from them. So far, the most common workaround has been ignoring/unignoring them.

The real root of the problem is that browsers are blocking the reproduction of the video and the audio. The connection is correctly established and the information is being received. It's simply not played due to a

[2020-05-23 06:49] ancorgs commented on #336
@teclator this is the problem you (we) have been experiencing. At least now we know why it happens.

[2020-05-23 07:50] ancorgs commented on #158
Good news in this regard. Around one year ago, Janus Gateway [added the possibility](https://github.com/meetecho/janus-gateway/commit/152c7e5da0c3bf9bf20ec3e12b77fb2008555427) of configuring rooms with a new parameter that makes it possible to detect users that are in the room but not transmitting any video/audio stream.

Now we are implementing compatibility with that in Jangouts, so #337 should

[2020-05-24 15:51] dgdavid commented on #336
Nice catch @ancorgs!

Thanks!

[2020-05-24 20:31] #310 closed

[2020-05-24 20:31] #325 closed

[2020-05-25 10:38] ancorgs commented on #158
#337 is merged, so I'm closing this. I expect to release a new version of Jangouts including the fix next week (and I will try to make sure it's deployed in jangouts.suse.de).

[2020-05-25 10:38] #158 closed

[2020-05-29 13:53] dgdavid commented on #332
It has been already fixed in #340. Thanks a lot for notifying it :)

[2020-05-29 13:53] #332 closed

[2020-05-29 16:04] ancorgs commented on #324
This happens only in the react-redux branch. Master is not affected.

[2020-05-29 16:11] ancorgs commented on #303
@imobachgs Isn't this the same than #324? I believe is the same and, thus, fixed by #341

[2020-05-29 16:12] ancorgs commented on #324
Fixed by #341

[2020-05-29 16:12] #324 closed

[2020-05-29 22:22] imobachgs commented on #303
Yes, most likely it is the same bug. I will reopen if needed. Thanks.

[2020-05-29 22:22] #303 closed

[2020-06-08 15:01] ancorgs commented on #158
I deployed 0.5.0 in jangouts.suse.de and configured the rooms to notify all participants. Everybody should be immediately visible as they join now, even if they do not share their camera/mic.

[2020-09-07 13:10] paddatrapper opened #348 "NPM fails to install"
Following https://github.com/jangouts/jangouts/blob/master/DEVELOPMENT.md, `npm install` fails with the following error:

[code]

Looks like this upstream issue: https://github.com/sass/node-sass/issues/2959. I can't see a direct dependency in `package.json`, so I'm not sure where in the dependency train it is.

NPM Version: 6.14.8
Node version: v12.18.3
Jangouts version: `master` @ 33ac5ff05ae77b

[2020-09-10 00:42] dgdavid commented on #348
Hi there!

I have no problems when doing the `npm install` with

* npm 6.14.6
* Node 10.22.0

[code]

However, I could see a lot of warnings during the `npm install` output. I'll update my system and keep investigating.

[`npm-ls`](https://docs.npmjs.com/cli-commands/ls.html) can help here

[code]

[2020-09-10 01:11] dgdavid commented on #348
Only after a successful `npm install`.

[2020-09-10 01:26] dgdavid commented on #348
I have updated Node.js to v12.18.3 and I can reproduce the error. So, it seems a problem with the `node-sass` supported environment. In fact, it started supporting Node.js 12 in `node-sass v4.12.0` (see https://github.com/sass/node-sass/pull/2633), which also supports older Node.js versions (see https://github.com/sass/node-sass/releases/tag/v4.12.0).

So, updating the `gulp-sass` version to the l

[2020-09-18 20:22] #305 closed

[2020-09-18 20:22] #262 closed

[2020-09-19 11:57] dgdavid commented on #348
@paddatrapper,

Just out of curiosity, Did you test it? Did it work for you?

[2020-09-19 14:09] paddatrapper commented on #348
With that change, it installs correctly, but fails to run using `gulp serve`:

[code]

[2020-09-20 21:44] dgdavid commented on #348
Ok, thanks for the feedback. I'll take a look in the incoming days.

[2021-01-15 06:31] Novienzi commented on #348
hey, how you @paddatrapper solve the error when running the gulp-serve? Thanks..

[2021-01-15 07:39] paddatrapper commented on #348
I didn't...

[2021-01-15 09:56] dgdavid commented on #348
@paddatrapper,

I really sorry, I completely forget this issue until I received the Github notification today (thanks @Novienzi!). I hope you can forgive me.

I took a look now and, according to [this StackOverflow response](https://stackoverflow.com/a/55926692), it's a  versions problem. I tested to update all dependencies to their latest versions but now I'm facing a `AssertionError [ERR_ASSERTI

[2021-01-18 07:35] paddatrapper commented on #348
@dgdavid no problem. I have been distracted by other things too, so haven't had a chance to continue my experimentation anyway

[2022-01-22 02:33] chegmarco1989 opened #353 "Failed to start JANUS Server - Please help"
**Hello.

I am facing a serious problem when I try to start the Janus Server on my dedicated Ubuntu Server on which I myself have successfully installed Janus following of course the [this Tutorial](https://facsiaginsa.com/janus/install-janus-webrtc-server-on-ubuntu), through the command `service janus start` and `service janus status`, I get the following errors:**

**Indeed, when, I do: `journal

[2022-02-15 09:21] ancorgs commented on #353
As pointed by @tacerus, using a packaged version looks like the best way to install Janus server.

On the other hand, take into account this (Jangouts) could not be the best repository to get general help about Janus as a whole.

[2022-03-05 18:15] M-Stenzel opened #354 "Footer way too big on mobile phones"
Hi,

thank you for the software.
When I open my jangouts page with a mobile phone (different browsers, e. g. Chrome, Firefox) the footer (SUSE 2015 version 0.5.0) is really big and that eats space for the actual content. Is it possible to create a mobile version?

Martin.
![jangouts_mobile](https://user-images.githubusercontent.com/76916440/156895379-37a8b35c-49a9-4ed4-9c24-df927a8c5fbb.jpg)

[2022-04-05 09:41] ancorgs commented on #354
Jangouts interface is certainly not designed for mobile phones.

At some point we started a rewrite of the interface using react. See https://github.com/jangouts/jangouts/projects/1 That new interface was mobile-first (designed to work in mobile phones, tablets and PC). Unfortunately we never finished... although we are considering to try to finish it this summer.

[2022-06-27 15:03] imobachgs opened #356 "Screensharing does not work well"
It looks like screen sharing does not work in a reliable way.

[2022-06-27 15:17] ancorgs opened #357 "Port recent fixes to the react branch (#337, #324, #303)"

[2022-06-27 16:07] imobachgs commented on #356
Fixed by #358.

[2022-06-27 16:07] #356 closed

[2022-06-27 16:10] imobachgs commented on #307
We are postponing this feature. Actually, we are not sure whether it is OK from UX point of view.

[2022-06-28 07:50] joseivanlopez opened #359 "Persist/Retrieved username to/from local storage"

[2022-06-28 08:15] teclator opened #360 "The list of rooms do not show the number of participants"
Something that I miss from the angular version is the summary of the number of participants which are part of a room and which were shown in the login page.

![Screenshot from 2022-06-28 09-24-36](https://user-images.githubusercontent.com/7056681/176131632-ee51c8fd-1c36-4276-aa34-95388d77dfbf.png)

![Screenshot from 2022-06-28 09-27-06](https://user-images.githubusercontent.com/7056681/176131952-3

[2022-06-28 08:42] joseivanlopez commented on #331
* In some cases, emojis are not correctly rendered.
* Emoji peeker is missing.

[2022-06-28 09:16] tacerus opened #361 "Node 18 `ERR_OSSL_EVP_UNSUPPORTED`"
Hi,

`npm start` with nodejs18 returns:

[code]

As a workaround, the environment variable `NODE_OPTIONS=--openssl-legacy-provider` can be applied.

https://stackoverflow.com/questions/69394632/webpack-build-failing-with-err-ossl-evp-unsupported

I think in the future some hashFunction will need to be adjusted?

Best,
Georg

[2022-06-28 11:44] imobachgs opened #364 "Compatibility with janus-gateway >= 1.0"
Janus Gateway 1.0 changed many things on how Janus works, so it's incompatible with previous versions. The 0.x branch is still alive and getting updates, though. See the announcement:

https://github.com/meetecho/janus-gateway/issues/2855
And also some technical details here https://www.meetecho.com/blog/multistream/

As an obvious consequence, janus.js was changed too. Find the announcement and d

[2022-06-28 11:44] imobachgs commented on #364
#363 is our first attempt to solve this issue. It should work with 0.12.X and 1.0.X versions.

[2022-06-28 11:51] imobachgs commented on #361
Good catch! We are in the process of updating our dependencies, so perhaps it will fix this issue too.

[2022-06-28 12:53] #360 closed

[2022-06-28 14:19] ancorgs commented on #357
Done by #366

[2022-06-28 14:19] #357 closed

[2022-06-29 06:28] imobachgs commented on #364
It seems to work, so I will consider this issue as solved.

[2022-06-29 06:28] #364 closed

[2022-06-29 08:44] dgdavid opened #370 "Updating libraries"

[2022-06-29 09:59] ancorgs commented on #336
What most applications do is to have a previous test screen/popup. So you can see yourself and test the audio and then click "join" to actually join. Turns out that's indeed a trick to workaround this problem. :-)

[2022-06-29 10:43] ancorgs commented on #336
In my recent tests I see this in the console of my firefox:
Autoplay is only allowed when approved by the user, the site is activated by the user, or media is muted.

So maybe starting with disabled audio/video by default could be enough. Maybe only the first time you access a given room. I don't know, I'm just speculating.

[2022-06-30 06:28] imobachgs opened #380 "Update the openSUSE package"

[2022-06-30 10:44] dgdavid commented on #370
Somehow done via #371 and #375

[2022-06-30 12:11] joseivanlopez commented on #359
https://github.com/jangouts/jangouts/pull/374

[2022-07-01 07:07] imobachgs opened #385 "Cannot load the configuration file"
Jangouts supports a few configuration options using a `config.json` file which is retrieved at runtime. This mechanism does not work in the `react-redux` branch.

[2022-07-01 09:53] imobachgs opened #387 "Do not get remote videos after asking for permissions"
It looks like Jangouts does not display remote videos after asking for mic/camera permissions. However, if it does not need to ask for those permissions, it works just fine.

[2022-07-01 14:00] joseivanlopez commented on #331
Some chat improvements were done in https://github.com/jangouts/jangouts/pull/383.

[2022-07-01 14:03] joseivanlopez opened #389 "Remember chat messages"
When you leave a room, the list of messages is not recovered when you enter into the room again.

[2022-07-03 18:31] imobachgs commented on #385
Fixed by #386.

[2022-07-03 18:31] #385 closed

[2022-07-04 09:57] imobachgs opened #392 "Offer a button to (un)mute and enable/disable the video in the toolbar"
If you want to unmute yourself, for instance, to say "goodbye" at the end of a call, it is hard to click on the "unmute" button because it is moving as the people are leaving the room. I would be good to have a button to (un)mute and enable/disable the video at the top bar.

[2022-07-05 11:56] ancorgs commented on #331
Now we have the counter for new (unread) chat messages. Thus, I'm closing this issue. @joseivanlopez feel free to open a separate one for the other things you mentioned in your comment, they are not related to the original scope of the issue.

[2022-07-05 11:56] #331 closed

[2022-07-05 13:00] ancorgs commented on #389
Actually I have always thought that is a weird historical behavior of Jangouts. I find the current behavior of the react branch (having the list of messages blank every time you re-enter the room) to be more natural.

[2022-07-05 13:03] ancorgs opened #394 "When quiting a room, the camera remains activated"
If you use the icon "Leave the room", you end up in the login form... but with the camera still on.